[2019-10-22 17:25] filips123 commented on #2100
@Merith-TK I will maybe start working on custom Firefox/Tor Browser bundle with support for ZeroNet. But  I don't promise anything because I don't have much time.

But really, we should first check if there is any existing extension developer which can publish an extension to Web Store so there won't be any need for that "hacky solutions". But they would probably be needed (and implemented) some t

[2019-10-22 19:01] Merith-TK commented on #2100
for now, here is what i would reccomend using this pac file, as it works. Maybe an extension that adds this pac file?
[code]

![image](https://user-images.githubusercontent.com/10422110/67320907-b42a9380-f4c3-11e9-9672-75acaf9688ed.png)

[2019-10-22 19:05] filips123 commented on #2100
@Merith-TK It doesn't support `.zeronet` TLD. Also, because support for all these unofficial ways would not be really needed, this should be enough:

[code]

[2019-10-22 19:09] Merith-TK commented on #2100
except that does not factor in `.bit` domains, or other domain extensions

[2019-10-22 19:17] filips123 commented on #2100
@Merith-TK This is the point. `.bit` domains should not be handled separately but under special `.zeronet` TLD. This will make them much easier to handle than each one separately and would also prevent collisions with normal `.bit` domains.

* Addresses: `http://1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D.zeronet`
* Namecoin domains: `http://Talk.ZeroNetwork.bit.zeronet`
* ENS domains: `http://example.bit.

[2019-10-22 19:26] Merith-TK commented on #2100
While that looks like it might work,
it throws a err with zeronet
![image](https://user-images.githubusercontent.com/10422110/67323345-2badf200-f4c7-11e9-87a6-cd30cd13d54e.png)

[2019-10-22 19:28] filips123 commented on #2100
@Merith-TK See [#2087 (comment)](https://github.com/HelloZeroNet/ZeroNet/issues/2087#issuecomment-509829391) for details what needs to be done to implement this:

[2019-10-22 19:30] Merith-TK commented on #2100
Alright, those do make sense, but the pac file stuff i sent actually works. So it could be a implementation until we can get it fully operational

[2019-10-22 19:37] filips123 commented on #2100
@Merith-TK I agree with you. But I'm talking about "official solution", not about "one of the community versions". Yes, *currently* your PAC file is correct. But when ZeroNet implements official proxy/domain support, my version should be used.

[2019-10-22 19:38] Merith-TK commented on #2100
Alright, i agree with you on that,

[2019-10-23 04:36] purplesyringa commented on #2208
@HelloZeroNet Can this be closed?

[2019-10-23 04:37] purplesyringa commented on #2224
@HelloZeroNet TBH this looks nonsense. Headers are required to forbid sites to access other sites. Can this be closed?

[2019-10-23 12:00] HelloZeroNet commented on #2224
I think it's better to have consistent security requirements.
I recommend to add the hosts to `--ui_host` or use apache/nginx to proxy the request

[2019-10-23 12:00] #2224 closed, assigned to nobody

[2019-10-23 12:03] HelloZeroNet commented on #2208
Yes, using apache/nginx is the recommended way to setup.
(It would be great if someone could add it to the [faq](https://github.com/HelloZeroNet/Documentation/blob/master/docs/en/faq.md) with some example config)

[2019-10-23 12:03] #2208 closed, assigned to nobody

[2019-10-23 12:10] purplesyringa commented on #2208
Is "Is it possible to install ZeroNet to a remote machine?" section the right place to update?

[2019-10-23 15:30] HelloZeroNet commented on #2208
I think it would be better to create a new section: "How can I run a public ZeroNet proxy?" and add a link to it to the "Is it possible to install ZeroNet to a remote machine?" section.

[2019-10-24 05:13] filips123 commented on #2237
Restating ZeroNet is needed to apply all changes (changed modules, removed modules, new modules, changed plugins...) to Python runtime environment.

Reloading changes without restart might be possible but it would require manual reloading of modules using some Python functions. But I don't know how stable would it work.

[2019-10-24 05:22] purplesyringa commented on #2237
Actually, is restarting ZeroNet a problem?

[2019-10-24 09:52] d14na opened #2240 "Plugin Source Files, Optional or Remote/Dynamic?"
**Is your feature request related to a problem? Please describe.**
Currently, plugin source code must be "included" files for the PluginManager to properly handle the copy to `/data/__plugins__`.

**Describe the solution you'd like**
For the purposes of creating a "Plugin Store", this will quickly become problamatic, as the number of listed plugins increases. (ie. the total site size will quickly

[2019-10-24 10:00] HelloZeroNet commented on #2240
There is a [fileNeed API](https://zeronet.io/docs/site_development/zeroframe_api_reference/#fileneed) command that you can use to trigger download of optional files.

But I think it's better solution if the plugin store site just links to the plugin developer site that the user can use to install the plugin.

[2019-10-24 10:00] #2240 closed, assigned to nobody

[2019-10-24 14:09] mx5kevin opened #2241 "0Net HTML functional problems tourgh the browser"
### Step 1: Please describe your environment

  * ZeroNet version: 0.6.5 (Rev: 3866)
  * Operating system: Windows 10
  * Web browser: Firefox Quantum 69.0.3
  * Tor status: always
  * Opened port: no
  * Special configuration: Trackers goes tourgh TOR

### Step 2: Describe the problem:

Some HTML problems when a user setup a single user site tourgh 0Net and open the current zite the browser.

###

[2019-10-24 14:18] purplesyringa commented on #2241
Use ZeroFrame `wrapperOpen` method instead.

Is pressing a single button in sidebar difficult?

.SWF game or another files are not working

Flash is seldom supported by browsers nowadays. It's also not suppoted by ZeroNet for user security.

All files only sows correctly with UTF-8 format.

Well, I'd recommend you to switch to utf8. A lot of software depends on it nowadays. It might be worth addin

[2019-10-24 14:20] purplesyringa commented on #2240
-1 for plugin store idea, at least on the current state of ZeroNet features. Leaked privatekey can result in a diseaster if the plugin store becomes popular. A single plugin per site architecture will most likely work better.

[2019-10-24 16:07] filips123 commented on #2234
@HelloZeroNet Current `Dockerfile` in `py3` branch is actually correct. However, it is not published to [Docker Hub](https://hub.docker.com/r/nofish/zeronet). Changing `Dockerfile` is not really needed, as you probably just need to publish new version to Docker Hub.

[2019-10-24 19:17] mx5kevin commented on #2241
imachug  It didn't help much. And it doesn't solve the problems.

The wrapperOpen command does not work too.The same thing happens.

Tell users this.Users download the files and not the website owners.

No,a simple another zite link does not work this.The browser give the option but it's not working.Users are simply redirected this way to a different page.And they can't go back to the original pag

[2019-10-24 19:29] purplesyringa commented on #2241
What is that "same thing"? You said that the page didn't open. Did you mean that no tab was opened at all, you got an error like "escaping iframe" or something else?

Hm, I think many sites that use big files feature tell users how to do that. For example, my xkcd mirror does so. Also, there isn't actually a better way to enable automatic file download except using a button, lol.

Sorry, that was

[2019-10-24 19:54] mx5kevin commented on #2241
The browser open the zite in a new tab with the address,but the zite does not load tourgh the 0Net program.

The `_top` command redirect the pages,seems now i can go back the another original zite.But still i can not open the another page in a new tab.If i use a normal link i can not go back the original page.And the user is redirected to another page,which many website administrators are not happ

[2019-10-24 20:06] purplesyringa commented on #2241
"Does not load" can mean a lot of things, from "browser hangs" to "I forgot to plug in the computer". What exactly happens? Do you get a white screen? Do you get a white screen with "Escaping iframe" text? Do you get the `0` icon in the top-right corner? A screenshot would help.

Right, some additional hacks have to be added (i.e. wrapperOpen that we're currently discussing). We are currently work

[2019-10-24 20:29] mx5kevin commented on #2241
`
<a href="http://127.0.0.1:43110/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D" target="_blank">ZeroHello</a>`

target="_blank" or "_wrapperOpen" too.If i use the code in a zite.

 I get a white screen.0 icon in the top-right corner are shows.

![sreen](https://user-images.githubusercontent.com/47847121/67522603-8cdaee80-f69c-11e9-9160-794f90b3a6c7.png)

[2019-10-24 20:53] rllola commented on #2237
I am using ZeroNet embeded in an application and it is starting a second instance of the application after the update.

I have created a plugin to have a bit more control over it and noticed that the option exist in the code but hasn't been used. If we could have a "update and shutdown" option that would help.

If you have better approaches to solve this that would be nice. I am just trying to ass

[2019-10-24 21:05] mx5kevin commented on #2241
The video problem.

Using a HTML5 player code works fine the video.
[code]
Linking the video or open in ZeroHello files menu are does not working through 0Net.But without 0Net i'ts works fine the same link using a simple clearnet server or playing  through  the browser without 0Net.Not all .mp4 videos,some videos and I don't know why.Using Firefox,Microsoft Edge,Google Chrome,Internet Explorer too

[2019-10-24 23:03] mx5kevin opened #2243 "Download large files default way in single user zites, and make possible to upload/download extreme large files like 10GB or larger files too"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In large (optional) files currently the are no way to automatic way download them when the user load a zite.And users can not know a optional file in a single user zite are how much big.Currently must enable in the right 0Net icon with a l

[2019-10-25 04:17] purplesyringa commented on #2243
Do you mean that sites don't allow you to upload such big files or that file downloading stops after a certain amount of data is downloaded or downloading doesn't even start?

[2019-10-25 04:19] purplesyringa commented on #2241
O_o I've never had such problem. I'm wondering what could cause such an issue. Can you please get to this white screen again, press F12 and open Console tab and make a screenshot again?

[2019-10-25 04:24] purplesyringa commented on #2241
Hm, it looks like we're detecting mimetypes incorrectly. #1950 might help but it's for Python 2. I'll try to port it to Python 3 for tests. It'd also help if you run `assoc` in console and posted output here.

[2019-10-25 05:19] d14na commented on #2240
ok great! i'll try that out, it might be slow for the user after request, but as long as it works, i'll take that

will absolutely have links to: homepage, github, chats, etc. but also, there will be code samples, docs, faqs, etc, that will be __CONSISTENT__ across all plugins. this adds convenience for the dev, and that's usually a very good thing

agree 100%, but not just for the store, but for

[2019-10-25 06:14] leycec opened #2244 "Tor Browser >= 9.0 superficially incompatible with ZeroNet (and most other darknets)"
## tl;dr

If you recently upgraded to Tor Browser 9.0 and are no longer able to connect to ZeroNet, browse to `about:config` and change the value of the `network.proxy.no_proxies_on` setting to `127.0.0.1`.

*Read on for ugly and terrifying details.*

### Step 1: Please describe your environment

  * ZeroNet version: 7.1
  * Operating system: Gentoo Linux
  * Web browser: Tor Browser 9.0
  * Tor s

[2019-10-25 12:11] mx5kevin commented on #2243
If you upload a 10GB single file (ISO,ZIP,RAR).The download does not start.You can upload to a zite the large file.But if you try to download the download will not start.And no matter what zite.Tested with multiple zites.There was no error in the pages.The program cannot download the single 10GB file.

[2019-10-25 12:36] mx5kevin commented on #2241
Reproduction the issue:

1.Make a HTML file in your zite.Name it 123.html
2.Add this code.You can use another zite the same happend.

`<a href="http://127.0.0.1:43110/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D" target="_blank">ZeroHello</a>`

3.When you open the link its open in a new tab but the zite are not loading.
Tested Google Crome,now Firefox,Microsoft Edge,Internet Explorer.
![sreen12](https://use

[2019-10-25 13:12] purplesyringa commented on #2244
What the heck?

---

As for a serious reply: I'm currently working on a better sandbox for ZeroNet. I guess we should add automatic Tor proxy to it. @filips123 @krixano Do you see any issues?

[2019-10-25 14:16] purplesyringa commented on #2100
A brief overview on what we could do on different browsers:

- Chrome desktop: extension (blocked cause we need a developer), PAC file (global, Windows-only)
- Firefox desktop: extension, PAC file, local proxy
- Edge desktop: extension (blocked cause we need a developer)
- Safari desktop: extension
- Chrome mobile: none?
- Firefox mobile: extension
- Safari mobile: none?

So, extensions are suppor

[2019-10-25 15:56] filips123 commented on #2240
For plugin store it is better to use merged sites. Main site should be for UI, but each plugin should be separated merged site (like repositories in Git Center).

@imachug Isn't this something that @krixano will do in new KxoNetwork version?

[2019-10-25 16:04] Wkalmar opened #2245 "Enhance docs with mention of prebundled Python and libs"
**Is your feature request related to a problem? Please describe.**
In overall I've enjoyed ZeroNet very much. However, when I've reached "How can I create a ZeroNet site" section I've found non-obvious that instead of using `zeronet.py` as a Windows user I could use `zeronet.cmd` from `\lib` folder. Since I've found pip package manager UX quite frustrating I think that this is a thing that should

[2019-10-25 16:10] HelloZeroNet commented on #2241
I can confirm this error. It happens because if you open link with `target="_blank"` the opened tab/window will act the same as the html opened in a sandboxed iframe.

After some testing:
 - It's possible to detect sandboxing by using `document.domain == ""`
 - Looks like it's not possible to get rid of the sandbox in any way. After executing `window.open(window.location.toString(), "_top");` in t

[2019-10-25 16:16] purplesyringa commented on #2240
We're discussing implementation details now.

[2019-10-25 16:21] purplesyringa commented on #2241
But why? I can't think of a reason why it was implemented this way.

[2019-10-25 16:37] HelloZeroNet commented on #2241
Possible reason:
 - Open new document with `doc = window.open('any.html', '_blank')`
 - Then manipulate this document using javascript to have unsandboxed access

There is a sandbox flag that disables this behavior: https://www.chromestatus.com/feature/5708368589094912

Need some testing before we can add this flag

[2019-10-25 16:55] purplesyringa commented on #2241
Even if that happens, I have no idea why a sandboxed wrapper can't load site iframe.

[2019-10-25 19:06] ghost commented on #2240
I haven't decided on anything concrete yet. All feedback about the security of installing plugins and how to verify plugin tustworthiness would be appreciated (although, is there a better issue to discuss this in?).

One idea... the **optional** ability for plugins to include a signature by an id so that we can at least link up a plugin with the person/id who created it. If someone trusts this id,

[2019-10-25 19:32] purplesyringa commented on #2245
By the way, it's *not* recommended to use command line to create sites. Please use "Create new, empty site" button on ZeroHello instead.

[2019-10-25 19:46] filips123 opened #2246 "Other installation methods are outdated"
Installation methods other than ZeroBundle and source installation are outdated and only supported in Python 2 version. They should also be updated and fixed for Python 3 version.

These installation methods are currently outdated:

* Arch Linux
* Gentoo Linux
* FreeBSD
* Vagrant
* Docker

---

It would be also good to refactor ZeroBundle process as there are currently many (also outdated) reposit

[2019-10-25 22:16] Merith-TK opened #2247 "Content Signing Error: FOREIGN KEY"
### Step 1: Please describe your environment

  * ZeroNet version: Latest ast of 1512PST -8, 10-25-2019
 * Operating system: Windows 10 Pro, 1903 (BUILD: 18352.418)
  * Web browser: Chrome
  * Tor status: Confused as to what your asking here
  * Opened port: no
  * Special configuration: None

### Step 2: Describe the problem:
Occasionally, i get a `Content Signing Error` that i was not getting ba

[2019-10-25 23:07] HelloZeroNet commented on #2247
Please try to open the sidebar and Rebuild the database for that site

[2019-10-25 23:26] HelloZeroNet commented on #2246
Yeah it's pretty messy.

To make easier to manage I'm planning to move all the distributions to one repository (ZeroNet-dist) and make ZeroBundle, ZeroNet-win, ZeroNet-linux, ZeroNet-mac mark as outdated. (delete them?)

I already added the new mac dist there.

Idea for other branch names:
 - win32 / win64
 - linux32 /  linux64 / linux64-armv8

[2019-10-26 00:06] HelloZeroNet commented on #2241
Because the wrapper is served with `frame-src 'self' blob:` CSP header and in sandboxed environment the src is null.

Btw for me adding the `allow-popups-to-escape-sandbox ` flag looks good for me:
[code]

[2019-10-26 00:30] d14na commented on #2241
`wrapperOpenWindow` works just fine for me. however, it would be nice to re-use the same code on clearnet, by supporting `window.open(...)` when NOT sandboxed.

__Question:__ is there a STANDARD method for detecting Zeronet (or sandbox in general)? i can think of more than a few ways, but I'd rather use something standardized by the community, if possible.

then, something like this could work: `<

[2019-10-26 00:40] d14na commented on #2100
@imachug when i search the chrome store for __"Zeronet"__, all that comes up is [Free the Wiki](https://chrome.google.com/webstore/detail/free-the-wiki/jkhhfiobfgkjkhaamiipbegdpeaoffpm). i'm a bit surprised that no one has published a browser extension for zeronet. may i ask why not?

does the __SOURCE CODE__ for a Zeronet extension (or similar -- thinking TOR) already exist? if all you need is a

[2019-10-26 00:55] d14na commented on #2240
i've just started working with "merged" sites using the PeerMessage plugin, but otherwise not much experience.

how does Git Center (in the context of merged sites) work anyway? anyone care to ELI5?

another thought i had would be to verify the hash of the entire plugin folder against, say:
1. a github commits metadata (idk)
2. or ipfs hash (that would support remote download)

---

As mentioned b

[2019-10-26 01:04] Merith-TK commented on #2100
@d14na
https://github.com/goldenratio/zeronet-protocol-crx
I actually think google themselves took it down...

[2019-10-26 02:00] ghost commented on #2240
Ok... we don't have this yet because Python basically has no sandboxing capabilities. It's super annoying, but hopefully ivanq's backgroundprocessing stuff can work? idk, we need testers and auditors!!!

[2019-10-26 02:04] ghost commented on #2240
This wouldn't help much honestly, you still have to trust the github commits. The problem isn't at all about verifying whether *any* outside source changed the files - because ZeroNet already does this. The problem is twofold - trusting the plugin itself, and ensuring that the owner of the zite uploading to doesn't change the plugin - for which a signature is enough. The first problem can be solve

[2019-10-26 02:12] ghost commented on #2240
Me an ivanq talked a while ago about some things that can be done, some of them simple, other's not:

1.) Python plugin sandboxing and permission system - hard
2.) Signatures added to plugins - imo, this is *needed*, most plugin systems for other software (like browsers) have some way to do this. These plugin systems also make sure updates don't happen unless the signature matches. This doesn't ne

[2019-10-26 04:21] purplesyringa commented on #2100
There's an outdated version but we'll have to modify that for the new sandbox.

It'd be cool. I'd use that account for some compatibility tests, I guess I'll need it soon.

Let's ping @goldenratio.

[2019-10-26 04:28] purplesyringa commented on #2241
AFAIK most sites are looking for `wrapper_nonce` in URL. But that's going to be broken when we switch to a new sandbox so I'd just build two variants of the site (that's gonna be easy if you're using bundlers/builders).

[2019-10-26 04:31] purplesyringa commented on #2247
@HelloZeroNet That error message mentions ContentDb, doesn't it? In cade rebuilding doesn't help, you can stop ZeroNet, delete data/content.db file and start ZeroNet again. It might take a while to restore the database.

[2019-10-26 10:05] filips123 commented on #2100
There are currently two ZeroNet browser extensions.

One is by @goldenratio ([here](https://github.com/goldenratio/zeronet-protocol-crx)) and it uses PAC file so URLs are correctly rewritten. It was published to Chrome Web Store once ago, but it appears that it was taken down. It is also very outdated and does not support other browsers.

The newer extension is by @sprite-1 ([here](https://github.

[2019-10-26 10:16] filips123 commented on #2246
This would be OK. Or use `ZeroBundle` instead of `ZeroNet-dist` because it looks nicer 😃

You should also provide build scripts (maybe in master) for each system. Then you can also set up that CI will automatically build all things for you.

This would be OK. One branch (probably master) should also contain all build sceripts with settings. Other branches should be for distributions.

Regarding br

[2019-10-26 10:57] HelloZeroNet commented on #2246
These were just examples, but I think `linux32-armv7` and `linux64-armv8` binaries would be nice. (I have not tested, but according to [this ](https://community.arm.com/developer/ip-products/processors/f/cortex-a-forum/5535/running-armv7-binaries-on-armv8) `linux32-armv7` binaries should work on `linux32-armv8`)

The current Linux compile script is using [conda](https://anaconda.org/) binaries as

[2019-10-26 11:21] purplesyringa commented on #2100
I think we should rewrite the extensions. They're really simple but we'll need to modify them when we change the way sandbox works. I also have some proxy-related ideas.

[2019-10-26 12:58] hacktivist commented on #2244
Hello,

I don't support any change in ZeroNet source code using the justification that Tor Browser is "broken" ZeroNet. You could run tor locally and use let's say Firefox instead of the Tor Browser.

While ZeroNet in "always tor mode" gives you a warning about that you don't use the Tor Browser and may be your browser is unsafe, I have no doubt that it is perfectly safe.

Do not freak out just be

[2019-10-26 13:07] purplesyringa commented on #2244
It is **not** perfectly safe. Whilst "Tor: Always" blocks outgoing connections on ZeroNet sites, it doesn't block connections made by *sites*. Using Tor Browser helps fix this.

Uh, seriously? They broke backward compatibility with many decentralized projects (I2P was already mentioned here).

It is *not* safe. I'm tired of fixing lots of vulnerabilities in ZeroNet code. I'm the one who found seve

[2019-10-26 13:20] ghost commented on #2246
Hi,

Please clarify that this issue is about that ZeroNet should use Python3 instead of Python2 or that it's about how to name the branches. I don't think that renaming the branches would make any difference because Python is the same across platforms. You can run ZeroNet without that you need to compile it.

If you really wish to have instructions on how to compile ZeroNet on different platforms

[2019-10-26 13:27] filips123 commented on #2246
@hacktivist There are actually two things in this issue. First is that some installation methods are outdated and only support in Python 2 version. Other is to rename branches for compiled distributions.

And I think that compiled distributions are needed to make ZeroNet popular for normal users. They don't know what is Python, how to install and use it. They need to just have a file/program that

[2019-10-26 13:28] hacktivist commented on #2244
@imachug You are a real pain in the ass. If you assume that ZeroNet is only secure in Tor Browser than you are wrong. ZeroNet is not depend on Tor Browser and certainly not "dead" as @leycec stated. Since ZeroNet already is in a sandbox doesn't make a difference if you running in Tor Browser or in Firefox.

I see your previous comments @imachug and I feel you trying to push changes in ZeroNet beca

[2019-10-26 13:31] purplesyringa commented on #2244
Am I? Try making a zite that accesses some clearnet service to get your IP. That will return correct results in Firefox but a fake (well, almost) IP in Tor Browser.

[2019-10-26 13:32] ghost commented on #2244
Actually it does because the ZeroNet sandbox doesn't even protect against everything, LOL.

[2019-10-26 13:33] purplesyringa commented on #2244
Lmao. You're talking to the guy who found three important vulnerabilities in ZeroNet.

[2019-10-26 13:35] purplesyringa commented on #2244
Oh, really? Are you *really* sure no one needs PeerMessage? (spoiler: look at some PeerMessage-based sites like KxoID or ZeroNetia) Are you *really* sure no one needs a better sandbox? (spoiler: there were many connected issues recently)

[2019-10-26 13:36] ghost commented on #2244
And who's had multiple PRs *accepted* by nofish, including **multiple vulnerability fixes**, who's created Git Center, which is used officially by nofish for ZeroNet code as well as various other projects, *and* PeerMessage which is a pretty useful addition to zeronet (KxoId is based on PeerMessage, 0Play Game Center's chat has instant communication because of PeerMessage), *and* backgroundprocess

[2019-10-26 13:40] ghost commented on #2244
Btw, looks like you can't read. imachug said Tor helps fix security issues, he didn't say ZeroNet was completely secure in Tor, just *more* secure.

Hm... interesting. You care more about spite than the actual validity or usefulness of his pr's. Anyways... last time I checked, Nofish still has control over zeronet and what pr's are accepted.

Also, last time I checked not everything revolved aroun

[2019-10-26 13:40] ghost commented on #2246
I see, thank you for the clarification.

It will be faster if you release compiled versions for different platforms and sign those releases in order to give the chance for "normal users" to use ZeroNet.

I support the idea to have ZeroNet precompiled, signed and to have instructions for nerds on how to compile ZeroNet.

[2019-10-26 14:17] ghost commented on #2244
You're, just wow....

The reason for removing the sandbox has **nothing** to do with Tor Browser support... this issue didn't even exist before ivanq's issue about removing the sandbox. In fact, ivanq seems to have only mentioned the sandbox removal stuff because of the needed *tor proxy*.

I'm wondering, perhaps you don't know... all this stuff can't be done with the current sandbox:

1.) Use of

[2019-10-26 14:31] filips123 commented on #2244
Are you sure that there is no other simple way to use ZeroNet in Tor Browser?

Anyway, I don't think that Tor Browser team thought about this when they removed proxy support. So maybe create a bug to Tor Browser to add support back

[2019-10-26 14:36] purplesyringa commented on #2244
An extension might help. Will making an extension real quick and publishing it to AMO help?

[2019-10-26 14:44] filips123 commented on #2244
I mean built-in way. Tor Browser team probably didn't know that this will break quite a lot of projects, so creating a Tor Browser bug would make sense. Then they could provide another simple (not with `about:config`) built-in way to do this.

[2019-10-26 14:45] ghost commented on #2244
I believe this issue was created to let ZeroNet users know about the `about:config` workaround, hence:

[2019-10-26 14:54] ghost commented on #2244
I'm just gonna.... put these here:
2 sandbox escape vulnerabilities, and one html injection vulnerability... in the sandbox wrapper.

![Screenshot from 2019-10-26 09-53-52](https://user-images.githubusercontent.com/4098042/67621616-94061780-f7d6-11e9-853a-d4f71ea06d03.png)
![Screenshot from 2019-10-26 09-53-23](https://user-images.githubusercontent.com/4098042/67621618-95cfdb00-f7d6-11e9-81d0-3f1a

[2019-10-26 15:49] ghost commented on #1940
#2248

[2019-10-26 16:13] purplesyringa commented on #2100
A small update: PAC file won't work because websocket connections aren't affected. Extensions are required.

[2019-10-26 16:19] filips123 commented on #2100
@imachug Yes but... don't extensions actually use the same browser APIs as PAC file?

[2019-10-26 16:31] purplesyringa commented on #2100
Nope, the APIs are different. PAC files just define a few functions, whilst extensions have access to `proxy` API.

[2019-10-26 16:44] filips123 commented on #2100
Can `proxy` APIs affect WebSockets?

[2019-10-26 16:55] purplesyringa commented on #2100
My test extension shows that it can do that.

[2019-10-26 16:59] filips123 commented on #2100
Nice! But why PAC files don't work?

[2019-10-26 17:00] purplesyringa commented on #2100
¯\\\_(ツ)\_/¯ By definition. PAC files were intended to only proxy a few requests, then websockets were invented but no one wanted to modify PAC behavior. Anyways, I don't think that using webextensions instead of PAC files is a problem.

[2019-10-26 21:23] d14na commented on #2100
me and google don't get a long for this very reason. long story short, they're the ones who drove me to Bitcoin in 2012 (still kinda bitter) and I haven't looked back.

sounds good to me!

still <s>working on</s> struggling with [Zeronet Explorer](http://127.0.0.1:43110/zeronetexplorer.bit)

---

i probably won't be able to contribute much to the code, (1) i've never done an extension, (2) i have

[2019-10-26 21:28] d14na commented on #2241
easy for who? lol i love what bundlers do, but I don't have a clue how to configure those files.

`wrapper_nonce` works for me, for now, the "other" method I think might work is to try to call "something" from UiWebsocket, if it fails, as it always does in the clearnet version, then use clearnet code. what do you think?

[2019-10-26 21:40] d14na commented on #2240
are you talking about this? https://github.com/HelloZeroNet/Plugin-BackgroundProcessing

i kinda get it, but where is it used, so I can see a practical example of its purpose, OR if u don't mind giving me a quick explanation of what its for

yes, you mentioned the signature before, but how does that solve the problem of code changing UNKNOWINGLY? all you verify is that it came from a "trusted" sou

[2019-10-27 00:01] ghost opened #2249 "Fonts don't work in Tor Browser"
Gettings CORS error because Tor thinks the font is from a different origin. If you look at the request headers, you'll see that origin is null.

![Screenshot from 2019-10-26 18-56-41](https://user-images.githubusercontent.com/4098042/67627485-f2f17e00-f822-11e9-8274-2752ac7c453d.png)
-----
![Screenshot from 2019-10-26 18-59-40](https://user-images.githubusercontent.com/4098042/67627486-f422ab00-f8

[2019-10-27 00:04] ghost commented on #2240
Code doesn't change unknowingly. Code changes by the person who uploaded the content or by the zite owner. The only thing ZeroNet allows is if the zite owner changes the plugin. if this happens, then the  plugin signature would be invalid (**the plugin signature is just the plugins hash encrypted by a key, to verify the signature, decrypt it with the public key then compare hashes**). This is lite

[2019-10-27 00:12] ghost commented on #2240
KxoId Trusted Peers use it to sign user registration requests in the background without having to have the browser open. This is the only know use for it atm, but I'm working on another thing. BackgroundProcessing is very useful when paired with PeerMessage.

[2019-10-27 00:46] HelloZeroNet commented on #2249
After some testing: It happens because Tor browser sends the header `Referer: http://127.0.0.1:43110/` instead of `Referer: http://127.0.0.1:43110/1Site...`

ZeroNet currently only adds `Access-Control-Allow-Origin = "*"` If the the referer matches the site address. I think we can remove this limitation, because by using the link tag it's possible to load the resource anyway. As it was demoed on s

[2019-10-27 02:16] d14na commented on #2240
i misunderstood your purpose for the signature, as i believed it was to validate the IDENTITY of the developer, not to authenticate the code itself. yes! exactly how it does for the `content.json`, that's what i'm looking to standardize for easy discover for the user.

yes you do. but my example is this: i've read the source and installed a plugin (eg PeerMessage) and its working great, no issues.

[2019-10-27 04:54] dhueys opened #2250 "Firefox browser problems using ZeroNet"
### Step 1: Please describe your environment

  * ZeroNet version: 0.6.5(rev3852)
  * Operating system: Win10 1902
  * Web browser: Firefox70.0
  * Tor status: always
  * Opened port: no
  * Special configuration: ____

### Step 2: Describe the problem:The node always shows updates, but it does not update properly.

#### Observed Results:
![ZeroNet](https://user-images.githubusercontent.com/380903

[2019-10-27 05:01] purplesyringa commented on #2250
You can try using "check files" from site menu. Also, small updates happen from time to time, especially on multiuser sites. Have you waited for it to disappear for a while already?

[2019-10-27 05:04] purplesyringa commented on #2240
Something like AMO would help here, wouldn't it?

[2019-10-27 05:10] purplesyringa commented on #2241
The reason why I don't like wrapper_nonce check is that it'll become invalid with another sandbox. What bundler are you using? I might help.

[2019-10-27 05:31] dhueys commented on #2250
I have clicked "Check files" and the results show that there is no peers. Is there any other feasible way?

[2019-10-27 10:40] hacktivist commented on #2249
@HelloZeroNet @krixano : https://github.com/HelloZeroNet/ZeroNet/pull/2248/commits/091f30fbd7163a28736e970f9a432b67d4dab4c7

[2019-10-27 11:26] ghost commented on #2249
@HelloZeroNet @krixano https://github.com/HelloZeroNet/ZeroNet/pull/2248/commits/3e6087dae6fcb1b723f65ccb2b0e19c2b0de770c

[2019-10-27 12:58] ghost commented on #2249
This can be closed.

[2019-10-27 13:05] mx5kevin commented on #2241
With uploaded mp4 video file,where the user have the full mp4 file.In ZeroHello files menu,or linking the video using a HTML code in the current zite (and not another zite or site).
[code]
When the user play certain sections and part of video. I get this error: "Video playback has stopped due to a network error".So nut just some video files can not play this way.Some are playing but the user get t

[2019-10-27 13:05] purplesyringa commented on #2249
This should only be closed when your PR is merged.

[2019-10-27 13:07] purplesyringa commented on #2241
That can happen when you haven't downloaded the whole file and no one has the missing parts. Can that be the reason? @HelloZeroNet

[2019-10-27 13:16] mx5kevin commented on #2241
This is not possible,because some files i'm the uploader.And have the full file in all case.And works using a HTML5 player code the same video files without issues.Like this:
[code]
But when i link the file in the same zite,or try play through ZeroHello the video file are does not play or stuck when im play certain sections and part of the video.See the linked image, in the previous comments.These

[2019-10-27 15:13] ghost commented on #2249
:tada:

[2019-10-27 19:16] #2128 closed

[2019-10-27 22:49] Merith-TK commented on #2247
I just deleted the zite and redownloaded it, it fixed it

[2019-10-27 22:49] #2247 closed, assigned to nobody

[2019-10-28 07:26] mo-han opened #2251 "[Consult] What method did you use to package the program?"
Hi, just curious and wanna learn something new.
I saw the `ZeroNet.pkg` file in the released version (win64), which is a new form to me.
Tried to search in the net but cant get any results, just want to know what kind of method did you use to package zeronet and what's inside this `zeronet.pkg` file.
Thanks.

[2019-10-28 08:52] helzy4077 opened #2252 "Zero"
### Step 1: Please describe your environment

  * ZeroNet version: _____
  * Operating system: _____
  * Web browser: _____
  * Tor status: not available/always/disabled
  * Opened port: yes/no
  * Special configuration: ____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened? This could be a screenshot, a descr

[2019-10-28 08:54] purplesyringa commented on #2252
Zero?..

[2019-10-28 09:36] ghost commented on #2240
Actually, I believe it does **both**, because it makes sure that the code uploaded *only* was done by that id - that nobody tampered with the code. This is basically useful if someone *reuploads* the plugin somewhere else.

No, the signature solution doesn't do that.... because the hash of the code would be encrypted by the id of the creator. They can release a new version by reencrypting the new

[2019-10-28 10:16] ghost commented on #2240
We can reinforce trust by just creating a zite where people can upvote a plugin (or separate plugin versions). We can even include a hash of the plugin to ensure what version of the plugin they upvoted if we need. I would also list out the *names/ids* of the people who upvoted a plugin (and perhaps be able to filter out the people you trust) so that we can see whether the people who upvoted it are

[2019-10-28 13:08] HelloZeroNet commented on #2251
It's generated by PyInstaller using this script: https://github.com/HelloZeroNet/ZeroBundle/blob/py3/compile_win.cmd

It has a tool (pyi-archive_viewer) to inspect these packages: https://pyinstaller.readthedocs.io/en/stable/advanced-topics.html#inspecting-archives

[2019-10-28 13:08] #2251 closed, assigned to nobody

[2019-10-28 14:04] ghost commented on #2249
@HelloZeroNet I thought you already fixed this referer thing. There was an issue a while ago talking about referers being changed by browsers.... I think @anoadragon453 created the issue for this.

The issue I'm talking about is #1931
(sidenote, that last comment I made 17 days ago happened to be a bug in my own code and seemingly unrelated the the issue that *was fixed* because I was one of the p

[2019-10-28 14:12] ghost commented on #1931
I just tested a zite in *Firefix* private mode... the bug is now there again even though it *was* fixed previously.

[2019-10-28 15:02] filips123 opened #2253 "Provide a way to change cache duration"
**Is your feature request related to a problem? Please describe.**

ZeroNet only supports cache for around 20 minutes and it is not possible to configure this. However, some sites are updated more frequently and some are updated less frequently.

**Describe the solution you'd like**

It should be possible to change cache duration both by instance owner (with `--cache_for` argument) and by site own

[2019-10-28 15:04] filips123 commented on #2253
@krixano @imachug @hacktivist

[2019-10-28 16:00] HelloZeroNet commented on #2253
The cache is only for some media types (image, video, font, js, css). You can use the `{site_modified}` variable if you need more frequent updates on these file types, eg.: https://github.com/HelloZeroNet/ZeroHello/blob/master/index.html#L43

[2019-10-28 16:01] HelloZeroNet commented on #2249
Thanks for reporting this should be fixed by https://github.com/HelloZeroNet/ZeroNet/commit/270f3e9ffdf45ac402aee5d8e714290af209402a in Rev4250

[2019-10-28 16:01] #2249 closed, assigned to nobody

[2019-10-28 16:02] HelloZeroNet commented on #1931
Thanks for reporting this should be fixed by https://github.com/HelloZeroNet/ZeroNet/commit/270f3e9ffdf45ac402aee5d8e714290af209402a in Rev4250

[2019-10-28 16:02] ghost commented on #2249
Thanks @HelloZeroNet !

[2019-10-28 16:19] hacktivist commented on #2253
I going to merge some stuff from ZeroNet but I go in different way. I develop a totally different ZeroNet because some of you are so fucking retarded that I don't even want to see..

[2019-10-28 16:20] hacktivist commented on #2253
@filips123 Probably is the only normal here. He at least proposed something useful.

[2019-10-28 16:23] hacktivist commented on #2253
Oh boy you also have some problem in your head... I hope you don't fall down from you balcony in Budapest...

[2019-10-28 16:27] ghost commented on #2241
**Don't use** target="_blank" to open links without sending a `Referrer-Policy: "no-referrer"` header.
**DARK STUFF!** :sunglasses:

[2019-10-28 16:29] ghost commented on #2253
A proposal which you didn't want originally, might I add....

![Screenshot from 2019-10-28 11-28-53](https://user-images.githubusercontent.com/4098042/67697178-25f85680-f976-11e9-9807-724eb7c69026.png)

[2019-10-28 16:34] hacktivist commented on #2253
@krixano Hey you little fck. Shut your mouth and go somewhere else. @imachug at least know how to talk and @filips123 even helped with a piece of code. What you do is commmenting bullshit and running to @shortcutme and @HelloZeroNet asking them to break up my pull request. You are a fucking disgrace!

[2019-10-28 16:39] ghost commented on #2253
Stop acting like @HelloZeroNet doesn't have a mind of his own. He said it himself - he didn't like the caching that you were trying to sneak in. Period. End of discussion. Get Over It!

Btw, @HelloZeroNet often writes his own code instead of accepting prs. Again, you're not special, so get over it.

![Screenshot from 2019-10-28 11-48-42](https://user-images.githubusercontent.com/4098042/67698887-2

[2019-10-28 16:41] hacktivist commented on #2253
You just runned to him because you don't wanted to see that my PR get merged. Right because you are a fucking Nazi shit like Orban in Hungary. Look at yourself in the fucking mirror. My code fixed your shit. You did wrote not a single line to help. Nothing. Just writing shitty comments because you are a retarded bitch.

[2019-10-28 16:47] hacktivist commented on #2253
@krixano I wish you get beaten up and tortured in the border of Hungary and not the refugees who feeling war. You deserve to be beaten and let dogs on you or take your shooes and let you walk many kilometeres in the snow while you bleeding. FUCK YOU @krixano  You are a fuckin NAZI shit! How can be someone so fucking disgusting like you running kissing ass to break up my PR because you was angry of

[2019-10-28 16:57] ghost opened #2256 "Chao Italian Ristorante :)"
Pizza, Pizza! :rofl: :astonished:

[2019-10-28 16:58] HelloZeroNet commented on #2241
@hacktivist Please provide more information on the issue as I was unable the reproduce the problem you have described.

[2019-10-28 17:00] ghost commented on #2256
#2248

[2019-10-28 17:01] ghost commented on #2256
@HelloZeroNet This isn't an issue regarding ZeroNet code and doesn't use one of the provided templates so it should be closed.

[2019-10-28 17:02] ghost commented on #2241
@HelloZeroNet  It is called **Reverse Tabnabbing** https://www.owasp.org/index.php/Reverse_Tabnabbing

[The header you mentioned](https://github.com/HelloZeroNet/ZeroNet/pull/2254/commits/4cfaba79583b7f017ab42933078f2301b7c065d9#diff-7fa31802ec08bb55f5128c3e841b5f34L281).

[2019-10-28 17:03] hacktivist commented on #2256
@krixano I can open empty issue as well you fucking maniac!

[2019-10-28 17:06] ghost commented on #2233
@filips123 Those zites that he showed in the image are there even when the user hasn't had them downloaded - that's why they say "Activate". I *also* think ZeroUpdate should be on this "More sites" list ( @HelloZeroNet )

[2019-10-28 17:07] ghost commented on #2256
Of course you can... doesn't mean your issue is not irrelevant.

[2019-10-28 17:12] ghost commented on #2256
Looks like there was **plenty** discussion in #2248 to me. Stop lying, god damn...
Me, @imachug , and @HelloZeroNet all disagreed with your caching. Get over it.

[2019-10-28 17:13] hacktivist commented on #2256
You @krixano said here: https://github.com/HelloZeroNet/ZeroNet/pull/2248#discussion_r339604806

What this mean that because I sent a PR with MY modifications what you wanted to steal and claim, you was fast contacted @shortcutme and @HelloZeroNet to close my PR fast as possible!

[2019-10-28 17:13] HelloZeroNet commented on #2241
@hacktivist I just tested and adding the `headers["Referrer-Policy"] = "no-referrer"` does not fixes the tabnabbing problem. (tested on Chrome) It removes the referrer value from the header, but the opener js object is still present.

[2019-10-28 17:16] hacktivist commented on #2256
You archived what you wanted. @shortcutme broken apart my PR and fast implemented and all this because of you! Disgusting that this can happen when someone wish to contribute!

[2019-10-28 17:18] hacktivist commented on #2256
At least they helped and did not wanted to claim ownership over my Pull Request! You are a disgusting piece of shit!

[2019-10-28 17:19] ghost commented on #2256
Uh, no... lol

As you can see, my commit was done within the same hour as nofish's commits. I didn't even get a chance to make the PR, lol. Secondly, I had no contact with nofish whatsoever aside from that issue where **multiple people told you the caching was the wrong thing to do**.

![Screenshot from 2019-10-28 12-16-46](https://user-images.githubusercontent.com/4098042/67700997-1cbeb800-f97d-1

[2019-10-28 17:22] hacktivist commented on #2256
is very clearly saying you wanted to claim ownership over my modification and have a new pull request in your name! Remember this also? https://github.com/HelloZeroNet/ZeroNet/pull/2248#discussion_r339610967

[2019-10-28 17:22] ghost commented on #2256
No it's not. It's very clearly saying I'll be implementing the same idea with my own code. Additionally, this is evidenced in the differences between my commit and your pr... if you bothered to look.

[2019-10-28 17:23] hacktivist commented on #2256
:rofl: You are a retarded fuck! Get lost man!

[2019-10-28 17:24] ghost commented on #2256
I didn't know that to just *make* a PR you had to copy code. Hm... interesting. Because I thought making a PR involved writing changes in a fork and clicking "create pr" on github.

[2019-10-28 17:25] hacktivist commented on #2256
Difficult to talk yourself out of this... Feels shit huh? :rofl:

[2019-10-28 17:26] ghost commented on #2241
Right... adding *only* the no-referer doesn't solve the problem. You need both that and noopener.

[2019-10-28 17:28] ghost commented on #2256
I don't need to talk myself out of anything. You can literally *see* proof that I didn't copy your code on GitHub. So no, doesn't "feels shit" (you forgot the work "like" btw).

[2019-10-28 17:28] hacktivist commented on #2256
I come up with some solution including for your shitty font loading problem in Tor Browser! https://github.com/HelloZeroNet/ZeroNet/issues/2249

So don't fuck with me man or you will cry like a baby in the end!

[2019-10-28 17:31] ghost commented on #2256
![Screenshot from 2019-10-28 12-30-09](https://user-images.githubusercontent.com/4098042/67701912-cfdbe100-f97e-11e9-9e8c-31794bb0fb2e.png)

[2019-10-28 17:31] ghost commented on #2256
I'll be reporting this as a threat.

[2019-10-28 17:32] hacktivist commented on #2256
:rofl: Run report me!

[2019-10-28 17:35] hacktivist commented on #2241
This is a header which will send NO-REFERRER and so the attack is impossible!

[2019-10-28 17:37] hacktivist commented on #2241
It will not fix when you open the links on your own computer, but it fixes when you try this across different computers preferably hosts.

[2019-10-28 17:39] hacktivist commented on #2241
It is NOT no-referer! IT IS **NO-REFERRER**! Lastly, it is a header not a rel attribute!

[2019-10-28 17:57] monroeclinton commented on #2244
https://gitweb.torproject.org/tor-browser.git/commit/?h=tor-browser-68.2.0esr-9.5-1&id=b7e28eddd2121a6a8cc5be9fe2c03bf67669bfb3
This is the commit that changed the preferences. I think they were trying to make it so localhost is not proxied by default but it ended up not working. One of the comment said:

When I set network.proxy.allow_hijacking_localhost to false ZeroNet works though. Seems like

[2019-10-28 19:13] Wkalmar commented on #2245
I guess that just proves my point: no one can infere this from readme.md

[2019-10-28 19:25] filips123 commented on #2244
@monroeclinton So it actually *is* bug in Tor Browser?

[2019-10-28 19:50] ghost commented on #2245
Yeah, the readme is outdated, but the docs (at zeronet.io/docs) is much more up to date

[2019-10-28 20:06] ghost commented on #2256
I guess the issue resolved. :clap:

[2019-10-28 20:06] #2256 closed, assigned to nobody

[2019-10-28 20:09] monroeclinton commented on #2244
@filips123 yeah

[2019-10-28 20:29] filips123 commented on #2244
@monroeclinton Can you then report it to Tor Browser team if it is not reported already?

[2019-10-28 21:14] rex4539 commented on #2244
When I asked in `tor-dev` IRC channel a couple of days ago.

[code]

[2019-10-28 22:03] filips123 commented on #1773
@HelloZeroNet Shouldn't this be closed as ZeroNet now supports Python 3?

Also, can you push some changes to `master` branch to alert all users which are still using Python 2 that it will be unsupported in 2020 and with details how to update to Python 3 version?

[2019-10-29 09:19] purplesyringa commented on #2100
@d14na Can you please take a look at the extension I published [here](https://github.com/HelloZeroNet/ZeroNet/pull/2231#issuecomment-546830889)?

[2019-10-29 12:04] monroeclinton commented on #2244
@filips123 I already did, https://trac.torproject.org/projects/tor/ticket/32313. They closed it and pointed to a issue where they said network.proxy.allow_hijacking_localhost is set to true which makes localhost not proxied automatically. The problem is it's not working. This is my understanding at least. If someone wants to reopen my ticket and add to it, feel free.

[2019-10-29 12:08] filips123 commented on #2244
@matthewrobertbell So ask them back why does it still not work? If this is not desired behavior, they would fix it.

[2019-10-29 12:44] HelloZeroNet commented on #2244
I have updated the docs based on the suggestion: https://github.com/HelloZeroNet/Documentation/commit/19f6e9bdada0994d0b8ec18606f8332b2d2de329

[2019-10-29 13:35] ghost commented on #2209
What the fuck are you talking about?

[2019-10-29 13:41] ghost opened #2257 "ZeroNet"
:+1:

[2019-10-29 14:07] purplesyringa commented on #2257
### 🤦‍♂

[2019-10-29 14:11] hacktivist commented on #2257
Well, at least you get the idea.

[2019-10-29 14:13] purplesyringa commented on #2257
Ok... Can you please explain what the vulnerability is and how your PR fixed it?

[2019-10-29 14:16] hacktivist commented on #2257
How many times I need to say that the header `Referrer-Policy: "no-referrer"` fixing [reverse tabnabbing](https://www.owasp.org/index.php/Reverse_Tabnabbing)?
@HelloZeroNet or @shortcutme have no clue what is this header and thinks that is the same as attribute `rel="noreferer noopener"` BUT **IS NOT THE SAME!**

[2019-10-29 14:22] purplesyringa commented on #2257
Ok... now how does that help if it's *iframe* that opens links, not wrapper?

[2019-10-29 14:27] purplesyringa commented on #2257
But... why? [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy) says that it's the same.

[2019-10-29 14:28] purplesyringa commented on #2257
By the way, you forgot "r".

[2019-10-29 14:29] hacktivist commented on #2257
**IT IS NOT THE SAME!** I did not forget the r!

[2019-10-29 14:31] purplesyringa commented on #2257
Ok, can we assume it was just a typo? I mean, you'd still google the correct pronounciation before using it and I *think* browsers would tell you if you used an invalid rel value.

[2019-10-29 14:33] HelloZeroNet commented on #2257
I just tested and no-referrer does not fixes tabnabbing:

Without Referrer-Policy: "no-referrer":
 - Chrome + same origin: no referrer, window.opener limited
 - Chrome + different origin: no referrer, window.opener limited
 - Firefox + same origin: referrer present, window.opener limited
 - Firefox + different origin: referrer present, window.opener limited

With Referrer-Policy: "no-referrer":
 -

[2019-10-29 14:34] purplesyringa commented on #2257
@HelloZeroNet I guess that's because we use `sandbox`, right?

[2019-10-29 14:36] HelloZeroNet commented on #2257
The header never ment to fix the tabnabbing. It just removes the referrer header, but the linked issue nothing to do with the referrer header.

[2019-10-29 14:36] ghost commented on #2257
He escaping sandbox while using `target _blank`! https://github.com/HelloZeroNet/ZeroNet/commit/e82155aac4e75b1e67ae3f569a912b8f40fc8f48

[2019-10-29 14:43] purplesyringa commented on #2257
🤦‍♂ That sandbox is not the sandbox we're using. You could only have access to the wrapper if you were the wrapper... And that's literally impossible.

[2019-10-29 14:48] hacktivist commented on #2257
This keyword does not create a hyperlink, but annotates any other hyperlinks created by the element (the implied hyperlink, if no other keywords create one). [Link type "noreferrer"](https://html.spec.whatwg.org/dev/links.html#link-type-noreferrer)

What this mean is that if you have a link in a RDFa than actually you the RDFa distiller can't process none of your links!

`<a property="schema:url"

[2019-10-29 14:52] HelloZeroNet commented on #2257
So looks like we can agree on you can't fix the linked issue with http headers.

[2019-10-29 14:52] #2257 closed, assigned to nobody

[2019-10-29 15:01] ghost opened #2258 "Party people"
Party: https://github.com/HelloZeroNet/ZeroNet/issues/2257

I also reported that you can't process RDFa links in ZeroNet: https://github.com/HelloZeroNet/ZeroNet/issues/2257#issuecomment-547458089

[2019-10-29 15:03] purplesyringa commented on #2258
Ok... now what's the problem? Come on, make a PoC. I can't think of one.

[2019-10-29 15:05] hacktivist commented on #2258
The issue is you @imachug + @krixano @shortcutme and @HelloZeroNet who intentionally leaving a security hole open in ZeroNet and also destroying people's websites if they written it in HTML5+RDFa Lite 1.1.

[2019-10-29 15:06] purplesyringa commented on #2258
*Why* is that a security hole? A security hole is, by definition, a way to bypass a security layer. I don't see a way to bypass it; please show us.

[2019-10-29 15:09] purplesyringa commented on #2258
Any real input?

[2019-10-29 15:10] HelloZeroNet commented on #2258
If you can provide an example for the security issue and create a pull request that fixes it, then it will be merged. If you can't do that, then it won't be.

[2019-10-29 15:10] ghost commented on #2258
Dude, none of your issues are being censored - everyone can view them here on GitHub in the closed issues. They're being closed because so far you haven't been able to convince anyone of a real issue.

[2019-10-29 15:15] hacktivist commented on #2258
Bullshit! Yesterday you was closed my PR and copied some code rewritten it and given no credit whatsoever. You keep arguing about that your stupid coffeescript will handle links but I said it just now that all links with RDFa properties will be BROKEN! Not processable!

If you try to process any RDFa links from ZeroNet at https://search.google.com/structured-data/testing-tool (I personally prefer

[2019-10-29 15:17] purplesyringa commented on #2258
Ok, not working RDFa links might be something to investigate. I'll take a look right now. However, unsupported feature is *not* a security hole.

[2019-10-29 15:21] HelloZeroNet commented on #2258
The script I linked does not process anything. It's an api call you need to use JavaScript to call it.

I just tested and the rdfa tester tool works on the /raw/ pages. (testing it on normal links will not work, because of the wrapper)

[2019-10-29 15:25] hacktivist commented on #2258
Adding `rel="noopener noreferrer"` attribute to links just creates more problem and so the `Referrer-Policy: "no-referrer"` header MUST sent instead!

You are wrong @HelloZeroNet!
As I [mentioned](https://github.com/HelloZeroNet/ZeroNet/issues/2257#issuecomment-547458089)
`<a property="schema:url" href="https://example.org/" rel="noopener noreferrer">https://example.org/</a>`
**WILL NOT WORK!**

T

[2019-10-29 15:29] HelloZeroNet commented on #2258
The `rel="noopener noreferrer"` is not the same as `Referrer-Policy: "no-referrer"`

Without the rel=noopener you can't fix the tabnabbing if you care about that.

[2019-10-29 15:38] ghost commented on #2258
Let me ask you to test this:

[code]
**WILL NOT WORK!**  Test it on: https://search.google.com/structured-data/testing-tool

**That's false!**

[2019-10-29 15:42] purplesyringa commented on #2258
Ok... what are we discussing? Are we discussing the case when we have `target="_blink"` and the page replaces its opener?

[2019-10-29 15:44] hacktivist commented on #2258
Exactly. He argues that we should all have rel="noopener noreferrer" but that creates more problem!
The only way how you can safely mitigate reverse tabnabbing is sending the `Referrer-Policy: "no-referrer"`!

[2019-10-29 15:45] purplesyringa commented on #2258
Ok, so can you please make an example zite that exploits our current code?

[2019-10-29 15:48] HelloZeroNet commented on #2258
Like I said at least 5 times and the document you linked also said: you can't fix tabnabbing with http headers. Please test it for yourself.

https://github.com/OWASP/CheatSheetSeries/blob/517a99eb30faad5433d0b9c699d646db61265900/cheatsheets/HTML5_Security_Cheat_Sheet.md#tabnabbing

[2019-10-29 15:51] HelloZeroNet commented on #2258
It would be better if it would work, but it doesn't.

[2019-10-29 15:53] hacktivist commented on #2258
It is the same thing! But one is attribute. the other is a header!

Why do you want to destroy peoples structured data if you can mitigate reverse tabnabbing just by using a header?

[2019-10-29 15:53] purplesyringa commented on #2258
Investigating

[2019-10-29 15:53] purplesyringa commented on #2258
@hacktivist That's because we currently don't send any headers on HTML files...

[2019-10-29 15:54] HelloZeroNet commented on #2258
Because I tested it and it does not work.

[2019-10-29 15:55] purplesyringa commented on #2258
![image](https://user-images.githubusercontent.com/16370781/67784997-a9e93600-fa7d-11e9-8f0f-ac4a6f8dff28.png)

There. There's no issue.

[2019-10-29 15:55] HelloZeroNet commented on #2258
The issue you are talking about: https://github.com/HelloZeroNet/ZeroNet/issues/2257#issuecomment-547450244

[2019-10-29 15:57] hacktivist commented on #2258
https://techblog.topdesk.com/security/developers-need-know-reverse-tabnabbing/

[2019-10-29 15:58] purplesyringa commented on #2258
@hacktivist

Are you sure you are linking to the correct site?

[2019-10-29 15:59] hacktivist commented on #2258
If you don’t want to set the noreferrer on every link separately, it’s also possible to add an HTTP header to all your responses. We added the following HTTP header to our reverse proxies:

Referrer-Policy: no-referrer

[2019-10-29 15:59] purplesyringa commented on #2258
Ok, now why do we need that fix at all?? See my comment above, I couldn't reproduce reverse tabnabbing.

[2019-10-29 16:03] HelloZeroNet commented on #2258
In /raw/ mode target="_blank" is blocked: `Blocked opening 'http://127.0.0.1:43110/1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D/index.html' in a new window because the request was made in a sandboxed frame whose 'allow-popups' permission is not set.`

[2019-10-29 16:04] ghost commented on #2258
**It is not blocked!** I do have sites proxied to **raw**!

My headers:
[code]

[2019-10-29 16:05] HelloZeroNet commented on #2258
It's not blocked, because you are stripping the security policy header we are sending.

It should be: `default-src 'none'; sandbox allow-top-navigation allow-forms; img-src *; font-src * data:; media-src *; style-src * 'unsafe-inline';`

[2019-10-29 16:06] hacktivist commented on #2258
That is correct! It is a proxy and all proxy should strip that header just like all gateway!

[2019-10-29 16:07] purplesyringa commented on #2258
What?? A proxy should *never* strip headers. There was an issue about that recently, and we all said "no"!

[2019-10-29 16:08] purplesyringa commented on #2258
Wait a second, did you remove security headers we added and are now saying that we introduced an intentional security hole?

[2019-10-29 16:10] purplesyringa commented on #2258
These headers aren't unsafe. Removing them is.

By the way, we're not limiting developers. Most stuff can easily be done utilizing ZeroFrame API (accessing wrapper, actually). I'm also working on a better sandbox now.

[2019-10-29 16:13] purplesyringa commented on #2258
Uh... they do. Sandbox helps us make sure sites don't access unsafe ZeroNet APIs that allow updating it, restarting and changing (a few) settings.

[2019-10-29 16:14] HelloZeroNet commented on #2258
Btw I just added `allow-popups allow-popups-to-escape-sandbox` to /raw/ mode security headers and the opener object is still present after opening a link with target=_blank

![image](https://user-images.githubusercontent.com/10350359/67786607-7c958b80-fa6f-11e9-97fe-08f2d93e7376.png)

[2019-10-29 16:16] purplesyringa commented on #2258
Actually, we'd need something like `noopener` to completely remove opener, but AFAIK that can only be set with `rel`.

[2019-10-29 16:19] hacktivist commented on #2258
Did I removed any of these headers? No I did not! I unset headers in Apache where ZeroNet runs. Only stripping headers using Apache and only where ZeroNet is running as a service, hidden as a cluster for another server which is visible for the public!! Where ZeroNet is that not accessible in any ways to the public.
I only publish from my local machine and after that I just open the website example

[2019-10-29 16:20] purplesyringa commented on #2258
Ok, so you're proxying ZeroNet to Clearnet. And you're using Apache to remove some headers you don't like, right? Why don't you use Apache to *add* the headers you need then? BTW, it doesn't look like they help but that's another story.

[2019-10-29 16:23] hacktivist commented on #2258
You can unset headers only on the machine where ZeroNet is running as a service, than when you proxy from another machine there you can add headers. You cant strip headers and add the same type of headers on the same server!

[2019-10-29 16:25] purplesyringa commented on #2258
Are you sure? https://httpd.apache.org/docs/current/mod/mod_headers.html It says that `set` replaces the existing header.

[2019-10-29 16:25] hacktivist commented on #2258
I'm looking it just a sec.

[2019-10-29 16:25] hacktivist commented on #2258
Try it @imachug !

[2019-10-29 16:26] purplesyringa commented on #2258
Sorry, I don't have an Apache instance nearby.

[2019-10-29 16:28] hacktivist commented on #2258
@HelloZeroNet Do you see **Referrer-Policy: "no-referrer-when-downgrade"** ? Because I do see in your screenshot! Look closely!

[2019-10-29 16:29] purplesyringa commented on #2258
That "Referrer Policy" in "General" shows what policy is used to download that very page, not its children.

[2019-10-29 16:42] purplesyringa commented on #2258
Any real input?

[2019-10-29 16:42] HelloZeroNet commented on #2258
So what's your suggestion? How should I fix this using a http header?

[2019-10-29 16:43] hacktivist commented on #2258
@HelloZeroNet I see that in raw target _blank not even work. It was working before. So stupid... Anyway the proxy from clearnet will make sure it is working. I see no problem. But there is problem with ZeroNet itself.

It is better if you send `Referrer-Policy: "no-referrer" ` as default.

[2019-10-29 16:44] purplesyringa commented on #2258
We don't really need this header, can you add it yourself?

[2019-10-29 16:44] HelloZeroNet commented on #2258
Check the screenshot: I modified the source to send the `Referrer-Policy: "no-referrer"` header, but the problem still there.

[2019-10-29 16:45] hacktivist commented on #2258
@imachug  That will not make ZeroNet secure...

[2019-10-29 16:46] purplesyringa commented on #2258
Uh, that will not make ZeroNet *less* secure as well. And I hope that we'll get rid of that part of code soon anyways... By the way, @HelloZeroNet can you please take a look at my PR? It's just a temporary solution to make peers announce lowercase address variants, it doesn't really affect site discovery or something.

[2019-10-29 17:04] HelloZeroNet commented on #2244
Can we close this issue as `network.proxy.no_proxies_on` works fine?

[2019-10-29 17:05] #2252 closed, assigned to nobody

[2019-10-29 17:27] purplesyringa commented on #2258
Great, you're deleting old comments and issues. What for?

[2019-10-29 21:50] d14na commented on #2240
umm, yeah, that's everything that i said. are you agreeing?

[2019-10-29 22:55] mx5kevin commented on #2241
Without

`target="_top"`

Command in the zites cannot go back to the previous page using the browser back button.On larger pages, this can be a hassle and inconvenience to users and website owners,where users navigate a lot between pages.

[2019-10-29 22:56] ghost opened #2260 "emptiness"
emptiness

[2019-10-29 22:56] hacktivist commented on #2260
Here: https://github.com/HelloZeroNet/ZeroNet/pull/2259/commits/aaed932fb520dface3381fdda9daad79171f1e4f

[2019-10-29 22:57] HelloZeroNet commented on #2241
This is a known problem, and I have not found any solution to that, but adding `<base href="" target="_top" id="base">` to the `<head>` solves the problem without the need of the modification of all links.

[2019-10-29 23:01] mx5kevin commented on #2241
I'ts possible to do this using the  content.json file?

[2019-10-29 23:02] HelloZeroNet commented on #2241
You need to add it to the html file

[2019-10-29 23:08] hacktivist commented on #2260
You can't even think about people who has 3G or 4G in they hand. Be honest I don't think you care about anything. I seen your TED talk and you was a disaster! Failed to demonstrate in any way how your ZeroNet can be useful to fight the power! You just copied IPFS but you made some modifications.

Do not misunderstand me! I like ZeroNet but I hate you as fuck! You are not going to be loved by anyon

[2019-10-29 23:21] ghost opened #2261 "Where you spending $90,000 which donated to ZeroNet?"
I'm very interested how you planning to spend this money?

In Budapest this amount of money is equals to about 26,516,459 HUF with what you can buy a little castle.

I'm very sure you will not spend any money from this to run ZeroNet gateways for the public and even if you would run it certainly you will host the servers in some shitty country like Hungary, USA, Israel...

[2019-10-29 23:28] HelloZeroNet commented on #2261
I don't have any plans yet. Right now I don't have any financial problems and I can sustain myself without using the donations.

[2019-10-29 23:28] #2261 closed, assigned to nobody

[2019-10-29 23:43] ghost opened #2262 "How the $90,000 USD will be used which donated to ZeroNet?"
@HelloZeroNet said:

**I can understand you and I think you did a great job @shortcutme!** I'm just angry at you for other reasons.

Use the donations but with limit! I don't think anyone would have problem with that if you use let's say $2,000 USD!

[2019-10-29 23:48] ghost commented on #2262
If I'm you I would run a bunch of servers for years and use them as public gateways to ZeroNet! **That would help people!** You can ban video streaming on them to save bandwidth.

[2019-10-29 23:59] #2260 closed, assigned to nobody

[2019-10-29 23:59] #2262 closed, assigned to nobody

[2019-10-30 01:01] ghost commented on #2240
What you said was, imo, ambiguous, so I didn't know exactly what you meant. Because there's two ways to do this...

1.) My idea relies on the plugin store and in no way involves ZeroNet core
2.) The other idea was to **require** multiple people to *sign one signature* for a plugin and that this one siagnature signed by multiple people is stored in the plugin. I can't remember what this encryption

[2019-10-30 01:04] ghost commented on #2241
Yeah, if you click "create new zite" on zeronet then the default index.html file in the newly cloned zite  already has this.

[2019-10-30 02:01] #2258 closed, assigned to nobody

[2019-10-30 02:04] HelloZeroNet commented on #2222
Should be fixed by https://github.com/HelloZeroNet/ZeroNet/commit/8d88cfcd68ba5b78b9a63dc2c585c83c7b9abeac in Rev4252

![image](https://user-images.githubusercontent.com/10350359/67823080-fe160980-fac1-11e9-81b2-061da77321b9.png)

[2019-10-30 02:04] #2222 closed, assigned to nobody

[2019-10-30 02:10] HelloZeroNet commented on #2245
I just added a modification that makes the command-line siteCreate to create site from user's master seed in Rev4253 (but it's still easier to use the web interface to do it)

[2019-10-30 04:42] d14na commented on #2240
agreed, no changes to core

not stored IN THE PLUGIN (not sure how that would work), but in METADATA for the plugin's store listing. and NOT required, but the more "quality" signatures the higher a plugin's release would be "rated".

in the end, i believe we can agree that trust and security must be prioritized. however the "signatures" work will become clearer i'm sure. no worries, i have enough

[2019-10-30 16:20] #2220 closed, assigned to nobody

[2019-10-31 19:29] filips123 opened #2264 "Update ZeroBundle while updating from UI"
**Is your feature request related to a problem? Please describe.**

Currently, if you update ZeroNet from UI, the only thing that will change is ZeroNet source code. While this is OK if you use ZeroNet directly from source code, it is not in case if you use ZeroBundle as ZeroBundle files will stay the same.

This creates some problems:

* One is already my DNS plugin with custom dependencies. In c

[2019-10-31 19:40] filips123 commented on #2264
@HelloZeroNet @imachug @krixano @ValdikSS @d14na

[2019-10-31 19:42] purplesyringa commented on #2264
/cc @geekless

[2019-10-31 22:40] antifa commented on #2264
Valdik**SS**? Don't tell me that he is a fascist! :rage:

[2019-10-31 23:36] antifa opened #2265 "LICENSE"
Upgrade license from GPLv2 to GNU General Public License v3.0.

GNU General Public License v2.0 states that;

    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, **or
    (at your option) any later version**.

I upgraded the [license](https://github.com/antifa/ZeroNet/blob/master/LICENSE) in my [ZeroNet](https:

[2019-11-01 01:09] HelloZeroNet commented on #2265
Based on the 6. paragraph of the GPLv2 license it's not possible to change the GPLv2 to GPLv3 (or any other license that has more limitations)

[2019-11-01 01:18] HelloZeroNet commented on #2264
Actually it [should work for bundles on Windows and Linux](https://github.com/HelloZeroNet/ZeroNet/blob/py3/update.py#L60), but on some platforms you can't write to application's directory (eg. on macOS) and if someone installed it manually or from a package it's still problematic.

[2019-11-01 01:36] antifa opened #2266 "License issue!"
@HelloZeroNet said:

First of all, you should be ashamed that you closed the issue without allowing other developers to say something about the license upgrade.
For those who want to read what he closed: https://github.com/HelloZeroNet/ZeroNet/issues/2265

Since my code is included in ZeroNet core, I do have all right to upgrade the license and I will going to keep this way, you like it or not! I

[2019-11-01 01:44] #2266 closed

[2019-11-01 01:44] antifa commented on #2265
First of all, you should be ashamed that you closed the issue without allowing other developers to say something about the license upgrade.
For those who want to read what he closed: https://github.com/HelloZeroNet/ZeroNet/issues/2265

Since my code is included in ZeroNet core, I do have all right to upgrade the license and I will going to keep this way, you like it or not! I also did not liked th

[2019-11-01 05:29] purplesyringa commented on #2264
Can we copy code to `~/Library/Application Support/ZeroNet` on first run and update it there next time?

As in cloning Git repository? We can use `dist_type` to detect that, can't we?

Could we make package managers add scripts for autoupdate? Say, `gksudo apt-get install zeronet` would work for Ubuntu.

[2019-11-01 10:00] antifa commented on #2265
ZeroNet and it's source code will be distributed under **GNU General Public License v3.0** on the following websites:

- [zeronet.website](http://zeronet.website)
- [zeronet.host](http://zeronet.host)

[2019-11-01 10:22] filips123 commented on #2264
@HelloZeroNet Good, but when is this actually used? I use ZeroBundle for Windows, but based on file modification date, it was never updated (but source code was updated). Or do you do this only for some specific cases when updating ZeroBundle is needed?

Also, was this added recently in Python 3 version? **Update:** In May 2019 (d1e404f093c23a0a0cc8f4d4ee4f1f6d233eaf47).

It might be good to backp

[2019-11-01 12:58] krixano commented on #2265
@antifa You clearly don't know how copyright law or licenses work, do you?

You only own the right to commits/code **you yourself** have made. If you make a commit, you do *not* automatically own all of the project, period.

Secondly, you do **not** reserve the right to change the license of a piece of software **unless the license allows for it**.

[2019-11-01 13:48] antifa commented on #2265
I know way better how copyright works than any of you.
The license can be upgraded by anyone to a later version who has forked and or changed something in ZeroNet core. This is stated in GPLv2. In the other hand a normal person with a little bit of thinking can see that ZeroNet is moving into a way which is restrictive and by changing some functions in it @HelloZeroNet effectively deny to me and t

[2019-11-01 14:28] filips123 commented on #2265
Where is this stated? If I'm correct, GPLv2 is incompatible with GPLv3. The only case where it is compatible is if project is licenced under GPLv2 **or later** but I don't know if ZeroNet is.

[2019-11-01 14:41] antifa commented on #2265
GNU General Public License v2.0 states that;

ZeroNet is licensed under GPLv2: https://github.com/HelloZeroNet/ZeroNet/blob/py3/LICENSE

Example:
I do use [GNU Unifont](https://savannah.gnu.org/projects/unifont/) which is licensed under GPLv2 with [font embedding exception](https://www.gnu.org/licenses/gpl-faq.html#FontException), meaning that embedding the font in a document does not require the

[2019-11-01 14:50] filips123 commented on #2265
But this doesn't mean that *you* can re-license it under GPLv3 only. Terms of GPLv3 can apply if you want, but this doesn't mean that you can use only GPLv3.

[2019-11-01 14:59] antifa commented on #2265
It does mean I can upgrade the license in my version of the software!

Don't need any agreement from nobody because the GPLv2 license already granted me rights to modify and distribute my modified version under any GPL license I wish to!

I still don't understand why is a big problem for ZeroNet to upgrade to GPLv3!
Do you plan to implement restrictions in your software or to apply for patent?

[2019-11-01 15:28] filips123 commented on #2265
But I don't think you can then distribute it under only GPLv3.

Look, I would also like if ZeroNet would be using some more modern licence, but the way you are trying to achieve this is not correct...

If GPLv2 or later already applies, there is no point in changing license to GPLv3 or later.

Also, many popular projects, such as WordPress, are using GPLv2+ and some, such as Linux, are using GPLv2

[2019-11-01 15:32] krixano commented on #2265
Where does GPL state that? As far as I'm concerned, this only applies to your own fork. You can't force the original code to upgrade.

[2019-11-01 15:35] HelloZeroNet commented on #2265
Nobody said it's a problem, it's just legally not possible without all the past contributors written agreement.

[2019-11-01 15:36] krixano commented on #2265
Finally, GPLv2 allows any contributor to stop license switches, because with GPLv2 contributors retain copyright

[2019-11-01 15:38] imachug commented on #2265
First, Namecoin is not owned by nofish. Second, you can use addresses or Name.YO domains or make your own dns.

[2019-11-01 15:45] antifa commented on #2265
I will reply to all of you slowly. It was too fast.

Who own the private key to **1HeLLo4uzjaLetFx6NH3PMwFP3qbRbTf3D** ?
Far as I'm concerned this is already a restriction!

[2019-11-01 15:47] krixano commented on #2265
Far as I'm concerned this is already a restriction!

Any zites created for ZeroNet is not restricted under the ZeroNet license. If this was the case, then the whole web would be restricted under the licenses of browsers - which is obviously incorrect.

[2019-11-01 15:50] imachug commented on #2265
You can change homepage and update site via zeronet.conf I think that these options can be set with UiConfig but I'm not sure.

[2019-11-01 16:01] krixano commented on #2265
ZeroNet is using frames which means it is restricted! If anyone try to change this function in ZeroNet his version will become unusable.

This is **not** a legal restriction that can be applied. GPL grants rights to change source code, therefore you are legally allowed to break a program if you so wish to.

[2019-11-01 16:05] krixano commented on #2265
Again, as stated in the GPLv2 license, anybody is free to make a fork that changes the source code, therefore, there haven't been any restrictions. Again, stop making crap up.

[2019-11-01 16:07] krixano commented on #2265
Again, according to GPLv2, Nofish can't even legally change the license because multiple people have contributed to the software. If all contributors agree, then they can change the license to anything they wish.

**However**, this does not mean the previous versions of the software before the license aren't open source - they very much are. And this is precisely how forks are made from programs t

[2019-11-01 16:09] antifa commented on #2265
Don't force users to download any zite in the first place. Each install should have it's own homepage not a centralized one.

Without it ZeroNet is unusable!

GPLv3 or later!

GPLv2 **only** is very different than including the license of GPLv2+ which allows upgrade!

All previous contributions made in ZeroNet are done under a license which allows the upgrade to GPLv3.

[2019-11-01 16:12] krixano commented on #2265
That is not a legal restriction. A person can distribute unusable code if they so wish. You can literally completely change ZeroNet in a fork, and it is still technically allowed. Stop being a fascist.

[2019-11-01 16:19] krixano commented on #2265
Ok, @HelloZeroNet , the section that he is talking about says that if you want all later versions, then you add that to the end or beginning of the license. Since it is obviously there, it *does* allow for the upgrade to GPLv3 - **as long as you aren't relying on GPLv2 licenses that don't have this.**

[code]

However, @antifa , you can't force @HelloZeroNet to upgrade the license for his version.

[2019-11-01 16:22] krixano commented on #2265
Btw, @antifa , you don't own the copyright to any commits you haven't made. As far as I'm concerned, you haven't made any commits to ZeroNet source code.

Whether nofish copied your code or not is another question. As far as I'm concerned, he didn't. You also don't own a patent and therefore cannot sue nofish on the idea of adding more headers to ZeroNet's HTTP server's requests.

[2019-11-01 16:33] krixano commented on #2265
Btw, the fact that you are having a tantrum about open source licenses and copyrights of contributors while also trying to use your own copyright of code you made is pretty revealing.

[2019-11-01 16:36] antifa commented on #2265
Anything can be copyrighted specially writing. Since I don't live in Hungary the Hungarian law does not apply to me.

Upgrading to GPLv3 allows me and anyone else to use ZeroNet in patents if we wish and the current GPLv2 is a threat against me and others from Hungary. I request to upgrade the license to GPLv3 because with this @HelloZeroNet states that will not sue! Right now I feel that there is

[2019-11-01 16:37] krixano commented on #2265
@HelloZeroNet This is why I oppose GPLv3. Patents are aweful and disgusting.

[2019-11-01 16:38] krixano commented on #2265
No it's not. The license already does this.

[2019-11-01 16:47] HelloZeroNet commented on #2265
It's just an example if you want to do that, but if you don't do that, then it should be GPLv2 only. That part is also in the clearly GPLv2 only Linux kernel license: https://github.com/torvalds/linux/blob/master/LICENSES/preferred/LGPL-2.0

[2019-11-01 16:47] krixano commented on #2265
This is not true. This depends on the country. In both the US and Hungary, ideas, concepts, systems, or methods are not protected under copyright. I'm sure other countries have this.

[2019-11-01 16:49] krixano commented on #2265
@HelloZeroNet Ah, ok. If that's the case, I'll always oppose a GPLv3 upgrade *unless we explicitly disallow Patents*.

[2019-11-01 16:55] antifa commented on #2265
@krixano You clearly have no idea what are you talking about!

Under GPLv2 @HelloZeroNet can apply for a patent! **Under GPLv3** he **can't**! We are more protected if we all have the right to apply for patents than just one person! Don't you get it?

I suggest you contact Richard Stallman ([rms@gnu.org](mailto:rms@gnu.org)) who will explain it to you since reading is not favorite hobby I see.

Mo

[2019-11-01 17:00] krixano commented on #2265
I get it, I just disagree with it.

[2019-11-01 17:02] krixano commented on #2265
It protects us from one thread, while simultaneously creating more threads.

[2019-11-01 17:19] antifa commented on #2265
This is the funniest thing I ever heard!

**It can't be a threat if everyone has the same rights!** The [Free Software Foundation](https://www.fsf.org) designed GPLv3 perfectly and all software under this license is a truly free software in my opinion.

You are more than free to disagree but that doesn't change the facts that currently we are facing serious threats under GLPv2 both in the software

[2019-11-01 17:21] krixano commented on #2265
Yes it can. A contributor under v3 can patent their own code and prevent other people from using it. While this protects against companies that are trying to patent software they contributed to, it harms everyone else.

[2019-11-01 17:25] antifa commented on #2265
**Can't prevent others from using ZeroNet!** The difference is that if you include ZeroNet in a larger program than you can patent your **whole** program including ZeroNet!

[2019-11-01 17:26] krixano commented on #2265
Right... which is why GPLv3 *should* have prevented forks from patenting. The thing they did instead is essentially useless aside from perhaps libraries.

[2019-11-01 17:27] krixano commented on #2265
I mean... let's say Linux used GPLv3. Now Microsoft and Oracle and all these big companies have been contributing to Linux for a while. All of a sudden Microsoft makes a patent on the contributions they've made. Now guess what happens? Linux has to remove all that code.

[2019-11-01 17:30] antifa commented on #2265
**GPLv3 prevents you and anyone else** who contributed to ZeroNet **to claim exclusive rights** over the software using patents or to include any kind of restrictions in the software itself!

GPLv3 makes sure that **each of you can apply for patent** and you **not going to be sued** by anyone else!

[2019-11-01 17:38] krixano commented on #2265
Exactly! This is the problem. It causes more problems than it solves.

[2019-11-01 17:49] antifa commented on #2265
No! Everyone can apply for patent and this not limited to his/her or they contribution(s)!
Meaning that they can include the entire ZeroNet software in a patent claims without any fear that someone will sue them!

**The entire ZeroNet software MUST be kept under GPLv3 or any later version, without restrictions of any kind!**

There is no chance that anyone can patent a part of ZeroNet and claim ex

[2019-11-01 18:55] krixano commented on #2265
Ok wait... so if someone applies for a patent, the only way everyone else is protected is if they spend a bunch of money to get the patent for themselves too? That's even *more* stupid.

[2019-11-01 19:16] krixano commented on #2265
https://www.youtube.com/watch?v=PaKIZ7gJlRU

[2019-11-01 19:50] antifa commented on #2265
@krixano Did you watched the video? :thinking:

Linus Torvalds seems to me have some mental issues. How he talks about the [Free Software Foundation](https://www.fsf.org) is unacceptable!

Watch this:
[![Richard Stallman&#x2014;Welcome to GPLv3](http://img.youtube.com/vi/YWNknNScP0tg/0.jpg)](https://www.youtube.com/watch?v=WNknNScP0tg)

[2019-11-01 19:51] krixano commented on #2265
No thanks, I think FSF is disingenuous and I'll never support them.

[2019-11-01 19:53] krixano commented on #2265
Btw @antifa , the section about adding the ability to upgrade is **after** this line:

[2019-11-01 20:06] antifa commented on #2265
Than don't use GPLv2 either! It is also from FSF and just that you know I think you are a disgrace!

[2019-11-01 20:07] krixano commented on #2265
@HelloZeroNet

later version", you have the option of following the terms and conditions
either of that version or of any later version published by the Free
Software Foundation.  If the Program does not specify a version number of
this License, you may choose any version ever published by the Free Software
Foundation.

According to this, the only way that ZeroNet's license accepts "any later vers

[2019-11-01 20:08] krixano commented on #2265
Good think I **don't** use *any* GPL licenses unless required, lol.

[2019-11-01 20:17] antifa commented on #2265
**YOU DON'T UNDERSTAND THIS DO YOU?** :rofl:

Let me help you:

This means if **ZeroNet states that the software is released under GPLv2 anyone can upgrade to a later version** or keep the current version in the repositories.

This means as it says, you can switch to any license provided by the Free Software Foundation! Linux uses GNU Lesser General Public License and you can switch to that or use

[2019-11-01 20:24] filips123 commented on #2265
Read again.

That condition is true only if the program (ZeroNet) explicitly specifies that it is licensed under GPLv2 or any later licence (GPLv2+). If it doesn't, only GPLv2 is valid.

[2019-11-01 21:20] antifa commented on #2265
You are wrong!
Just as we seen above Linus Torvalds is probably the only person who really stated that only GPLv2 applies to Linux! You need to state that!

**If you don't state that only GPLv2 applies to the software, than as a general rule and as the license states, anyone who forks and changes the source code can upgrade to GPLv3!**

See:
https://www.gnu.org/licenses/gpl-faq.html#AllCompatibili

[2019-11-01 21:25] krixano commented on #2265
MIT allows sublicensing, so actually you're wrong.

Again, as stated in the license here:

later version", you have the option of following the terms and conditions
either of that version or of any later version published by the Free
Software Foundation.

If the program has the license version **and** says "any later version", then you are allowed to use a later version. If it does *not* state **"

[2019-11-01 21:39] antifa commented on #2265
I think is the time to remove both Bitcoin and BitTorrent wording from ZeroNet. In the other hand is seems to me that you are trying to restrict how we can use the ZeroNet software and you all poses a clear threat to anyone who forks it.

I following the wording which clearly stated in GPLv2 which I quoted various times above. Any fork and change I make in ZeroNet will be released in GPLv3.

I kin

[2019-11-01 22:05] krixano commented on #2265
GPLv3 is **more** restrictive than GPLv2. Anybody can create a fork changing the way ZeorNet works - this is precisely what GPL allows for. ZeroNet uses GPL, therefore the only restrictions on the user and any forks is what GPLv2 states.

If we add any code into ZeroNet that makes you think the software is being restrictive, you, just like anyone else, are free to create a fork and remove the "res

[2019-11-01 22:13] antifa commented on #2265
I going to scan now the source code of ZeroNet. Just give me a few more minutes.

I say it again loud and clear! **GPLv2 is a threat** and **incompatible with the BitTorrent license**!

**ZeroNet uses** both "**BitTorrent network**" and "**Bitcoin cryptography**", and while the Bitcoin related MIT license allows sublicensing, it **does not allow to remove the MIT license**!

[2019-11-01 22:33] filips123 commented on #2265
Scan for what?

[2019-11-01 22:36] antifa commented on #2265
I already **found a GPLv3 license in ZeroNet**! Just a second I will post here in JSON the results.

[2019-11-01 22:53] antifa commented on #2265
Scan results in HTML format: [https://3c7b1a18-c025-42d3-8fc3-6bce3ef011ac.htmlpasta.com](https://3c7b1a18-c025-42d3-8fc3-6bce3ef011ac.htmlpasta.com)

Licenses found:
- AGPL-3.0-or-later
- Apache-2.0
- BSD-3-Clause
- BSD-2-Clause
- GPL-1.0-or-later
- GPL-2.0-only
- GPL-3.0-only
- MIT

**This is problematic!**

[2019-11-01 23:49] HelloZeroNet commented on #2265
Since ZeroNet does not states it's "GPL2 or later" I think it means it's GPL2 only. So I can't do that.

Btw using a library with different license should not be a problem as for example iOS also include lots of opensource libraries eg OpenSSL.

[2019-11-02 00:09] antifa commented on #2265
@HelloZeroNet

**You need to upgrade to GPLv3!**
Only ZeroNet is licensed under GPLv2 which is **incompatible** with not only Apache 2.0 but also with GPLv3!
**You can't license ZeroNet using GPLv2!**

Regarding OpenSSL, you can add an linking exception under **GNU GPL version 3** section 7:

[2019-11-02 00:42] antifa commented on #2265
I urge you @HelloZeroNet to immediately upgrade to GPLv3 as you are required by the law or I report your repository to GitHub's legal team.

[2019-11-02 01:32] HelloZeroNet commented on #2265
Feel free to do it.

[2019-11-02 01:34] antifa commented on #2265
I already reported you to GitHub and posted this to Reddit. I even willing to sue you!

[2019-11-02 02:16] antifa commented on #2265
@shortcutme  @imachug @filips123 @krixano

I warning everyone in this repository that **the license is automatically terminated**!
You are violating three different licenses including a GPL license! I urge @HelloZeroNet to **immediately upgrade the license to GPLv3 as it is required by the law** or all copyright you may have also going to be lost!

[2019-11-02 02:38] szopin commented on #2265
Man you could literally f*ck every company out there that carefully picks and chooses only gplv2 code with your capslock power, amazing

[2019-11-02 02:46] antifa commented on #2265
# **THE LICENSE OF ZERONET IS TERMINATED!** :astonished:
They did agreed to the terms of the [licenses](https://github.com/HelloZeroNet/ZeroNet/issues/2265#issuecomment-548976958) when they used code from third parties in ZeroNet!

[2019-11-02 02:57] szopin commented on #2265
The bigger font is a really good argument, you could try taking some pills and injecting gplv3 code into templeOS and introduce 1024x768 there, use your powers for good

[2019-11-02 03:01] antifa commented on #2265
That will not change the fact that **ZeroNet currently has no license!** It is terminated automatically!

[2019-11-02 04:50] LWSS commented on #2262
I'm actually lookin at a 2004 lambo

[2019-11-02 08:13] 2694513590 opened #2267 "Unhandled exception: TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Step 1: Please describe your environment

  * ZeroNet version: _____
  * Operating system: _____
  * Web browser: _____
  * Tor status: not available/always/disabled
  * Opened port: yes/no
  * Special configuration: ____

### Step 2: Describe the problem:

#### Steps to reproduce:

  1. _____
  2. _____
  3. _____

#### Observed Results:

  * What happened? This could be a screenshot, a descr

[2019-11-02 11:17] HelloZeroNet commented on #2267
Can you please add more details? What have you done? Maybe more details on the error (file names and line numbers)

[2019-11-02 12:13] antifa commented on #2265
Reference: https://github.com/lukesampson/scoop/issues/3546

I'm working on the new license and the required **CONTRIBUTORS.md** file. @shortcutme and @HelloZeroNet will be left off from that file because intentionally and willfully violating other peoples licenses.

[2019-11-02 17:17] antifa opened #2268 "Proposed changes in ZeroNet"
Repository: https://github.com/antifa/ZeroNet

**Important Changes:**
- **rewritten** `README.md`: https://github.com/antifa/ZeroNet/blob/master/README.md
- **added** `MAINTAINERS.md`: https://github.com/antifa/ZeroNet/blob/master/MAINTAINERS.md
- **added** `CONTRIBUTORS.md`: https://github.com/antifa/ZeroNet/blob/master/CONTRIBUTORS.md
- **added** `COPYING`: https://github.com/antifa/ZeroNet/blob

[2019-11-02 17:41] 0x6a73 commented on #2265
Holy fuck, take your pills, man. First of all, there's no way to simply "terminate a license". As said previously, you would have to ask everyone who ever commited to Zeronet to switch their code to GPLv3, which is an enormous task, maybe even impossible considering dead accounts and such. It's generally stated that this project license is GPLv2, but one piece of code violating some law doesn't au

[2019-11-02 17:44] 0x6a73 commented on #2265
Also, since @HelloZeroNet and @shortcutme have written code for the Zeronet project, if you want to change the license you would have to either remove a large portion of code they've commited to or actually ask them to relicence their code themselves, but in this case I suppose they won't be quite willing to do so after what you said.

[2019-11-02 17:57] 0x6a73 commented on #2268
I see that you're quite not familiar with how GitHub works. If you want your code to be merged into this repo, make a pull request. Also, opening two issues for the same problem isn't neccesary. Don't spam the issue tracker.

[2019-11-02 17:58] imachug commented on #2268
Even this solution won't work. If you want to make ZeroNet compatible to its dependencies, you either have to change ZeroNet license (which is a enormous task) or ask dependencies to switch license (which is difficult as well) or switch to other dependencies which use GPL-compatible licenses.

[2019-11-02 18:00] imachug commented on #2265
@0x6a73 In case you don't know, @shortcutme and @HelloZeroNet are the same person.

[2019-11-02 18:10] 0x6a73 commented on #2265
@imachug Oh, sorry, my bad, I haven't noticed that. Anyway, what I said still applies.

[2019-11-02 18:49] ghost opened #2269 "Fixing Licensing Issues"
Ok, so first we have our license violations. All of these have a license that's currently incompatible with ZeroNet's GPLv2 License:
* Sidebar/media_globe/globe.js - Apache 2
* pyelliptic - GPLv3
* msgpack - Apache 2
* rsa - Apache 2
* gevent websocket - Apache 2
* bencode.py - BitTorrent License
* Coincurve - Apache 2
* python-bitcoinlib

Now... I propose 2 steps that will solve all of this:
1. S

[2019-11-02 19:03] antifa commented on #2268
I don't want to make pull request!

Do you understand that currently the only ZeroNet repository which compatible and complies with the license requirements of Apache 2.0, AGPL-3.0-or-later and GPL-3.0-only is https://github.com/antifa/ZeroNet/ ?

I understand you @imachug. GNU convention for example is that you have a file called `COPYING` where is the full license and have a separate file called

[2019-11-02 19:06] ghost commented on #2269
Btw, I think if we go the GPLv3 route, we should *only* do GPLv3-only and not "plus".

Also, if we have the ability to replace pyelliptic (btw, the **original** repo for pyelliptic is BSD - the PyBitcoin version is GPLv3), then I would actually prefer that.

It might be better to switch out pyelliptic now since the official repo is deprecated. And it's the main stopping block for other licenses th

[2019-11-02 19:07] imachug commented on #2268
How can that be allowed if GPL *makes* library dependents use GPL as well?

[2019-11-02 19:13] antifa commented on #2268
Please read https://www.gnu.org/licenses/gpl-3.0-standalone.html#section7.

Example linking exception let's say for OpenSSL:

It doesn't!

[2019-11-02 19:13] filips123 commented on #2269
PyElliptic's original author suggested [this](https://github.com/pyca/cryptography) as alternative. It is [dual-licensed](https://github.com/pyca/cryptography/blob/master/LICENSE) under Apache or BSD. There are also [some other](https://github.com/yann2192/pyelliptic/issues/50#issuecomment-297018932) alternatives.

[2019-11-02 19:27] imachug commented on #2268
Take a look at [this official page](https://www.gnu.org/licenses/license-list.en.html#bittorrent). It says that GPL is incompatible with BitTorrent Open Source License and thus we can't add a BTOSL library to GPL, can we?

[2019-11-02 19:28] purplesyringa commented on #2269
Unfortunately, cryptography dropped support for some common OpenSSL versions.

[2019-11-02 19:30] 0x6a73 commented on #2268
It doesn't comply with these projects' license requirements. Did you ask every single commiter if they want their code to be relicensed? Also, trying to take over a project by claiming that your repo is the one and only is basically theft. If you don't want to change anything here then why did you even open this issue.

[2019-11-02 19:35] filips123 commented on #2268
GitHub gets confused with multiple licence-related files. I just recomend to use `LICENSE` file and include GPLv3 there.

`INSTALL` is not needed as installation steps are already in `README.md`.

[GitHub Releases](https://github.com/HelloZeroNet/ZeroNet/releases) already contain changelog.

[2019-11-02 19:41] antifa commented on #2268
**BitTorrent is compatible with GPLv3** but not with GPLv2!
See: https://www.gnu.org/licenses/rms-why-gplv3.en.html and http://gplv3.fsf.org/bittorrent-dd2.html

For that matter, [Deluge Torrent](https://github.com/deluge-torrent/deluge) is released under GPLv3+.

[2019-11-02 19:44] 0x6a73 commented on #2268
Take a look at the top of that page and read it again.

[2019-11-02 19:44] imachug commented on #2268
You do understand that the article you linked to talks about code that was *distributed via* p2p networks (e.g. BitTorrent), not about code that was *licensed* under BitTorrent Open Source License, don't you?

[2019-11-02 19:46] antifa commented on #2268
Please see GNU Coding Standards: https://www.gnu.org/prep/standards/html_node/Change-Log-Concepts.html#Change-Log-Concepts it is named `ChangeLog` not ~~CHANGELOG~~ your system will decent the file **if** you naming it correctly.

People who get the source code will not getting it from GitHub releases, just to be clear.

[2019-11-02 19:48] filips123 commented on #2268
People will not read change log from source but from GitHub Releases. Those standards were *created* quite a long time ago and using GitHub Releases is better alternative now.

[2019-11-02 19:50] antifa commented on #2268
It is **NOT**! If you would read instead of talking about something you don't know than you will understand. I linked http://gplv3.fsf.org/bittorrent-dd2.html where FSF stated that BitTorrent even with GPLv3 **draft version 1** was not compatible, how the hell you would assume that is compatible with a license from 1991?
**BitTorrent is compatible with the final version of GPLv3 not previous or ot

[2019-11-02 19:52] imachug commented on #2268
According to the page I linked to it's wrong. Even if the official site doesn't agree with you, what are we talking about?

[2019-11-02 19:58] antifa commented on #2268
The question is what are you talking about?

I did not detected any BitTorrent Open Source License license in ZeroNet source code but if I do than that's really over the top and **in that case the development of ZeroNet must be stopped** due to additional license violations.

Is not enough that you already lost the license? I repeat, **the license is terminated automatically** yesterday!

[2019-11-02 19:58] 0x6a73 commented on #2268
@antifa Learn to fucking read. Your article is about propagation of GPLv3 code through the Bittorrent network, not about compatibility with the Bittorrent license. Do I really have to explain that text sentence by sentence to you? Also, you don't even know me and you start ranting about how I don't know anything about licenses? Fuck off.

[2019-11-02 20:00] imachug commented on #2268
@antifa Sure, just copying code and adding libraries without checking licenses was a bad idea. However, you shouldn't just say "fuck it" instead of actually fixing problems. That said, ZeroNet uses bencode.py library which *is* licensed under BitTorrent Open Source License.

[2019-11-02 20:03] antifa commented on #2268
@0x6a73 this happens when you can't read.

https://www.gnu.org/licenses/rms-why-gplv3.en.html this is written by **Richard Stallman**:

Show some respect boy don't be retarded.

[2019-11-02 20:04] imachug commented on #2268
Support for BitTorrent, you idiot! Not support for BitTorrent Open Source license!

[2019-11-02 20:06] 0x6a73 commented on #2268
@antifa It includes better support for **Bittorrent**, not for the **Bittorrent license**.

Can someone close this issue already? That idiot (@antifa ) turned this whole thing into a shitfest where WE have to teach him to read.

[2019-11-02 20:06] antifa commented on #2268
Idiot? Who is the idiot? Me or **you who for years was violating other people copyright and licenses without even giving a damn**? :thinking:

[2019-11-02 20:07] imachug commented on #2268
The fact that nofish can't read doesn't mitigate the fact that you can't read. Either (try to) help this project by at least reading your links or don't spam this issue tracker.

[2019-11-02 20:08] antifa commented on #2268
Whatever is compatible or not, **ZeroNet lost its license** and all credibility! You just acknowledged that you was well aware that BitTorrent Open Source License is not compatible with GPLv2! THis is even shameful!

[2019-11-02 20:09] 0x6a73 commented on #2268
@antifa There is no such thing as loosing a license.

[2019-11-02 20:11] imachug commented on #2268
Uh?

I found it out today. As well as you.

Sure.

[2019-11-02 20:16] antifa commented on #2268
I suggest you read GPLv3-only terms which specifically says that the license automatically terminates in the case of non-compliance! `pyelliptic` _Python OpenSSL wrapper_ is licensed under that license if you really want to know..

I talked also about the incompatible licenses Apache 2.0, AGPL-3.0-or-later and GPLv3-only. **All of  them is terminated automatically** yesterday! **ZeroNet can't use

[2019-11-02 20:18] antifa commented on #2268
@imachug I do trying to help ZeroNet!

[2019-11-02 20:18] imachug commented on #2268
Right, by telling everyone that the license is terminated instead of searching for a solution.

[2019-11-02 20:26] antifa commented on #2268
I say it, **because that exactly what happened** and nothing can change that fact!

[2019-11-02 20:27] imachug commented on #2268
Right. But repeating that fact won't help anyone.

[2019-11-02 20:30] 0x6a73 commented on #2268
Why are you even continuing this thread then? The fact has been said and we're working on replacing these problematic libraries in another issue.
(BTW, thumbing up your own posts won't make them any more true)

Also, since you can't read:
TL;DR: GTFO

[2019-11-02 20:32] purplesyringa commented on #2269
Let me collect all the issues we have found so far.

1. **bencode.py**. It uses BitTorrent Open Source License which is incompatible with GPL but I've made my own package that does the same.
2. **msgpack-python**. Apache 2.0.
3. **gevent-websocket**. Apache 2.0.
4. **maxminddb**. Apache 2.0.
5. **globe**. Apache 2.0.
6. **rsa**. Apache 2.0.
7. **pyelliptic**. This is GPLv3 only but it's a *fork*.

[2019-11-02 20:37] antifa commented on #2268
I suggest to urgently upgrade the license to GPLv3+, that is the only solution!
Upgrading it to GPL-3.0-only will not solve the problems what ZeroNet, has because of **AGPL-3.0-or-later**. **The new ZeroNet license need to be GPLv3+!**

![Open Source License Compatibility Chart](https://janelia-flyem.github.io/images/open_licenses.png "Open Source License Compatibility Chart")

[2019-11-02 20:42] imachug commented on #2268
Take a look at my latest issue please.

[2019-11-02 20:44] antifa commented on #2268
ZeroNet need to have the same file structure as I have in [my repository](https://github.com/antifa/ZeroNet/).
`COPYING` includes the full GPLv3 license while `LICENSE` contains the statement as you see here: https://github.com/antifa/ZeroNet/blob/master/LICENSE

[2019-11-02 20:44] filips123 commented on #2268
What does this mean?

[2019-11-02 20:44] 0x6a73 commented on #2268
No, it isn't. We can just simply replace the GPLv3/Apache libraries with alternatives. Also, if you would like to continue discussion about this subject, please switch to the other thraed.

[2019-11-02 20:44] 0x6a73 commented on #2268
Create a pull request then.

[2019-11-02 20:47] imachug commented on #2268
There's a problem with alternatives though, lol. Anyways, @HelloZeroNet @antifa can we close this issue and switch to another one?

[2019-11-02 20:48] antifa commented on #2268
@imachug Please understand that you don't need permission from any contributor to upgrade to GPLv3+ because **ZeroNet license is at this point is nonexistent**! It is required to upgrade by law!

[2019-11-02 20:52] antifa commented on #2268
The other one is locked for me. GO and discuss the upgrade there but this should be kept open until the merging.
I create the pull request soon. I will also fix the CONTRIBUTORS.md file also (updating it with the usernames you listed in the [other issue](https://github.com/HelloZeroNet/ZeroNet/issues/2269)) but that is another pull request.

[2019-11-02 20:52] 0x6a73 commented on #2268
No, fuck you. Do you know what happens when a project has no license? It isn't suddenly public domain, the author retains all rights and you get revoked all rights until he switches to a different one, which doesn't need to be GPLv3.

[2019-11-02 20:52] imachug commented on #2268
Ok... @antifa does that mean that all the previous contributions are proprietary and thus we have to ask all those contributors for the right to use their code in an open-source project?

[2019-11-02 20:54] imachug commented on #2268
Actually, replacing dependencies sounds like a plan...

[2019-11-02 20:55] antifa commented on #2268
Every piece of code MUST follow the GPLv3+ requirements! Can not be made proprietary! Since the GPLv2 license is terminated there is nothing you need to ask from the previous contributors!

[2019-11-02 20:55] imachug commented on #2268
Why's that? Can you show me a screenshot please?

[2019-11-02 20:56] imachug commented on #2268
But why? The previous contributors gave me the code *but* it was not licensed. This means that it was proprietary. This means that if I want to add a license, I have to make all their code non-proprietary. To do that, I have to ask them all for permission.

[2019-11-02 20:57] 0x6a73 commented on #2268
@antifa Use your mind.

That's simply blatantly false

No. Since it's terminated, it means the code they have uploaded looses that license too. And at that point, they have to relicense it to ANY license they'd like to, not only GPLv3+.

[2019-11-02 20:58] antifa commented on #2268
I'm not going to argue with you sorry. I need make a PR.

[2019-11-02 20:59] ghost commented on #2269
Libsecp256k1 seems to be small enough for a single person to create and maintain a wrapper. I agree with your dependency replacement option. I have taken a  look at u-msgpack-python and it seems like it's quite mature and still maintained, so it might be worth to try to use it.

[2019-11-02 21:00] purplesyringa commented on #2269
It looks like u-msgpack-python is pure-python which means that it's rather slow. We should try to make a wrapper on top of the C library.

[2019-11-02 21:00] 0x6a73 commented on #2268
Great. I'm waiting.

[2019-11-02 21:01] ghost commented on #2269
To add on to what imachug is saying, the C library, magpack-c, is Boost Software License which is a very permissive non-copyleft license that is compatible with most things.

[2019-11-02 21:21] filips123 commented on #2268
I'm not sure if anyone noticed this but image that @antifa linked contains this:

What does this means? Given that software used in ZeroNet with incompatible licenses is used as a library, does this means that there are other possibilities for fix compatibility?

This image is from [here](https://janelia-flyem.github.io/licenses.html).

[2019-11-02 21:26] 0x6a73 commented on #2268
@filips123 In the linked post the author explains that LGPL'd software can be used as a library in a permissively-licensed project, that's the mentioned possibility.

[2019-11-02 21:28] filips123 commented on #2268
@0x6a73 Only this? Do you think there is any possibility related to this to use Apache-licensed software in GPLv2 program if it is used as a library?

[2019-11-02 21:46] 0x6a73 commented on #2268
@filips123 As far as I know, yep. It'd be great if someone else could confirm this though.

[2019-11-02 21:53] antifa commented on #2268
@filips123 You need to understand that the old GPLv2 license is **terminated** because it violated **GPL-3.0-only** and **AGPL-3.0-or-later**.

GPLv2 was never compatible with **Apache 2.0**!

See: https://www.apache.org/licenses/GPL-compatibility.html

The same article at apache.org also states the following;

[2019-11-02 21:56] filips123 commented on #2268
@antifa Software which licences were violated is used in ZeroNet as libraries. And some licences have an exception that software used as libraries can be used even if licenses are generally incompatible. In case if licences which ZeroNet violates have such exception, there is no violation at all.

[2019-11-02 22:04] antifa commented on #2268
@imachug I updating the `CONTRIBUTORS.md` because the `LICENSE` file need it.

- shortcutme (He will be listed in the MAINTAINERS.md)
- imachug (63 commits)
- tangdou1 (24 commits)
- TheNain38 (23 commits)
- cclauss (23 commits)
- rllola (29 commits)
- MuxZeroNet (18 commits)
- lmath (17 commits)
- redfish (15 commits)
- Matthew Bell (12 commits)
- sirMackk (10 commits)
- Idealcoder (8 commits)
-

[2019-11-02 22:11] Motophan commented on #2268
Sigh you know thats not how this works right?
You cant just fork, change license, and then expect upstream to change license.

[2019-11-02 22:21] antifa commented on #2268
It is required by law. Period. Some people oppose the change but that doesn't even matter this point. By the way those who complain don't even understand what they talk about and I bet none of them actually read any of the software licenses which requires ZeroNet to upgrade.

GPLv2 is terminated automatically and it is incompatible with the licenses of those software which shipped with the source

[2019-11-02 22:25] filips123 commented on #2268
If GPLv2 was terminated, all code is now proprietary. If you want to license it under open source licence (GPLv3), you have to ask contributors if they agree. It would be the same as if code is still licenced under GPLv2 but you want ot change it to GPLv3, as contributors only agree to distrubite it under GPLv2.

[2019-11-02 22:28] 0x6a73 commented on #2268
What law? Also, your "the newer something is the better it is" approach is absurd. @HelloZeroNet has shown his views on changes provided by GPLv3. GPLv3 isn't simply "better", it's just different.

[2019-11-02 22:34] antifa commented on #2268
As I said yesterday, I do comply with all licenses included in ZeroNet but this repository not! I keep my repository this way whatever you choose to rewrite the source code or not. The reason why GPLv2 is terminated is clear and you don't need permission from nobody to fix the mistakes. It was a huge mistake from the beginning to use GPLv2 and for years it was violated other peoples copyright and

[2019-11-02 22:39] 0x6a73 commented on #2268
Okay, listen to me now. Since you've created a separate repo where you forcefully changed the license to GPLv3, anyone from the original ZeroNet team can sue you for violating his license.

There's no such thing as "This license is cancelled, so we move on to the next version". The problem here isn't that we don't want the GPLv2 incompatible code. The issue is that what you want to accomplish WILL

[2019-11-02 22:43] antifa commented on #2268
Nobody can sue me for complying with licenses! I suggest you stop right here. You are spamming the pull request and you talk nonsense.

[2019-11-02 22:45] filips123 commented on #2268
Technically they can sue you because you distributed proprietary code under GPLv3. But nobody will probably do that 😊

[2019-11-02 22:46] 0x6a73 commented on #2268
Learn the fucking difference between an issue and a PR.
You're not complying with a license, you're relicensing others peoples' work to GPLv3 without permission. This is equivalent to piracy, which is, by definition:

You're right, they can't sue you for complying with licenses, but they can sue you for removing them.

[2019-11-02 22:54] antifa commented on #2268
Polish mentality :roll_eyes: :clap:

[2019-11-02 22:55] 0x6a73 commented on #2268
Woah, don't get too racist here, it may get you banned from Github according to the Code of Conduct.
![uploading just in case it gets deleted](https://user-images.githubusercontent.com/43107265/68077895-db3a6c80-fdc3-11e9-84ac-2758051aee1b.png)

[2019-11-02 22:57] CatTheHacker commented on #2268
Nice, personal insults now, I see you lack any argument

[2019-11-02 22:58] antifa commented on #2268
@CatTheHacker hey, we can meet for a beer at ReitSchule if you wish! :rofl:

[2019-11-02 22:59] 0x6a73 commented on #2268
@antifa Any arguments left? I don't want to spend any minute longer talking with you than I have to.

[2019-11-02 23:00] antifa commented on #2268
@0x6a73 Good because I'm not talking with you! :hugs:

[2019-11-02 23:02] CatTheHacker commented on #2268
Sorry, I only meet with people who are able to read and think.

[2019-11-02 23:13] antifa commented on #2268
@filips123 @0x6a73
Never in this life an open source software become proprietary if it is released under such a license.

While the license is automatically terminated in this ZeroNet repository is worth to note that my repository is compliant with all licenses and as someone who contributed to ZeroNet until my repository exist, either on GitHub or in my computer the software can't become propriet

[2019-11-02 23:14] 0x6a73 commented on #2268
Let's move to the PR since I can already see you crossposting between the issue and the PR.
https://github.com/HelloZeroNet/ZeroNet/pull/2270

[2019-11-02 23:17] antifa commented on #2268
No. I only move to update `CONTRIBUTORS.md` in order to include most of the contributors of ZeroNet. I will not going to argue with you about nonsense.

[2019-11-02 23:18] filips123 commented on #2268
Again, just like with changelog, GitHub provides you tools to [automatically view contributors](https://github.com/HelloZeroNet/ZeroNet/graphs/contributors).

[2019-11-02 23:19] antifa commented on #2268
I know @filips123 that will be linked in the file.

[2019-11-02 23:21] 0x6a73 commented on #2268
I think that what @filips123 wants to say is that there's no reason to do so, since GitHub will automatically generate a list of contributors required for the GPLv3 license.

[2019-11-02 23:26] 0x6a73 commented on #2268
Oh, and since you're trying to cover the fact that you're a racist, here's a proof that you removed that post.
![image](https://user-images.githubusercontent.com/43107265/68078141-2c4c5f80-fdc8-11e9-86aa-c5fe4c0249df.png)

[2019-11-02 23:27] antifa commented on #2268
See example: [`CONTRIBUTORS.md`](https://github.com/antifa/ZeroNet/blob/master/CONTRIBUTORS.md)

[2019-11-02 23:30] 0x6a73 commented on #2268
Great, but the list of contributors is a lot bigger than that, while your CONTRIBUTORS.md serves practically no purpose.

[2019-11-02 23:30] filips123 commented on #2268
This still looks too much complicating for me. Just add link to GitHub Contributors to README or add no link at all.

[2019-11-02 23:34] antifa commented on #2268
@filips123 Yeah, I was wondering about how this should be done. I think is way nicer to have markdown file with most of the contributors than just a `txt` file with a bunch of usernames. People also faster can get to your repositories.

[2019-11-02 23:37] filips123 commented on #2268
This means that you would have to manually update that file for new (big) contributors. GitHub also shows how many contributions have each user done (and when) so this would be already enought.

[2019-11-02 23:39] drundridge commented on #2265
Who cares about any of this shit, lol.

[2019-11-02 23:41] 0x6a73 commented on #2265
@drundridge That guy, apparently.

[2019-11-02 23:42] antifa commented on #2268
Well, I'm okay with updating this markdown file time-to-time. That's why I created.

[2019-11-03 00:28] Avamander commented on #2265
To be fair, `pyelliptic` is under GPLv3-only and `ZeroNet` is under GPLv2-only. This is an incompatibility that does not revoke neither licenses or force an upgrade but `ZeroNet` is not really allowed to use it.

[2019-11-03 00:45] Avamander commented on #2265
Btw `pyelliptic` was relicensed, if this project updates to v1.5.5 or later then there should be no issues. https://github.com/yann2192/pyelliptic/commit/5604cf3788ac40972df1c412abf327e065709c21

[2019-11-03 01:33] antifa commented on #2265
ZeroNet can't be licensed under GPLv2! Period. No discussion about this anymore. There are many comments you can read and do some research as well. There is always will be issues with GPLv2 and it can ruin the entire ZeroNet project!

You can read here: https://github.com/HelloZeroNet/ZeroNet/issues/2268 and here: https://github.com/HelloZeroNet/ZeroNet/pull/2270

`pyelliptic` license change was a

[2019-11-03 01:48] Avamander commented on #2265
It absolutely can be.

Absolutely isn't and if it were it'd be unenforceable.

[2019-11-03 01:52] Avamander commented on #2265
If anything, @antifa, your repository is the one that's violating the GPL/copyright because you changed the license without permission and you're disrespecting the wishes of the authors. I'm sure there are also issues with you wiping the contributor history.

[2019-11-03 04:36] imachug commented on #2268
@antifa You're right that changing/adding the license is required. However, you're not allowed to do that without asking all previous contributors!

[2019-11-03 07:53] ghost commented on #2269
Wasn't the last version of pyelliptic relicensed to a 2-clause BSD license though?
https://github.com/yann2192/pyelliptic/commit/5604cf3788ac40972df1c412abf327e065709c21

[2019-11-03 09:01] 0x6a73 commented on #2265
Fuck off. Again, you are not the boss here, this place is actually MEANT for discussion of this kind of stuff. Meritorical discussion. And in your case, you're just yelling "Why don't you accept my PR without a single word, nazi?!". You've shown some arguments towards accepting GPLv3 license in the beginning, we've shown some counterarguments but instead of further discussing that, you've started

[2019-11-03 09:20] styac commented on #2269
https://github.com/yann2192/pyelliptic/tree/1.5.7/pyelliptic has ecc.py AND the license is permissive
https://github.com/yann2192/pyelliptic/blob/1.5.7/LICENSE

[2019-11-03 09:44] filips123 commented on #2269
@0x6a73 ZeroNet uses fork from BitMessage which is licenced under GPLv3. Original pyelliptic was also using GPLv3, but switched to BSD at some later point.

[2019-11-03 11:09] JeremyRand commented on #2269
Hello.  I hereby relicense my contributions to this repo under GPLv3+.  I'm happy to provide an OpenPGP-signed statement to that effect if you request it.

[2019-11-03 11:13] ghost commented on #2269
@JeremyRand Great, thanks for confirming.

[2019-11-03 11:25] JeremyRand commented on #2269
@0x6a73 It looks like in another issue (which I won't link to since that issue is a shitshow), you said something about the patent-related provisions in GPLv3 being potentially objectionable.  Any chance you could elaborate on that point?  This is a new concern to me, and I'm curious what info you can provide.

[2019-11-03 11:30] ghost commented on #2269
@JeremyRand As far as I know, GPLv2 doesn't allow ZeroNet to be used in patents, while GPLv3 allows that. That's why @HelloZeroNet has expressed his lack of approval for switching to GPLv3. Here's a quote from that thread addressing that issue:

krixano: This is why I oppose GPLv3. Patents are aweful and disgusting. So, if there's any way we can remove this "upgrade to v3" ability, I'll support it

[2019-11-03 11:30] JeremyRand commented on #2269
As an aside, not to put pressure on you guys, but we're intending to apply for funding from NLnet regarding Namecoin improvements that are targeted at improving ZeroNet integration (I haven't spoken to Tamas about this yet, but will soon), and license issues are almost definitely something that NLnet will want resolved prior to awarding funds, and probably even prior to committing funding to a pro

[2019-11-03 11:32] JeremyRand commented on #2269
@0x6a73 I'm almost certain that this is bullshit from the troll account and that GPLv3 doesn't do what he's insinuating, but lemme look into it more closely and I'll get back to you.

[2019-11-03 11:37] ghost commented on #2269
@JeremyRand Thanks for clarifying. Still, it might be a problem to relicense the whole project to GPLv3 due to commiters whose accounts are deleted or dead, as they have to state their will for the change to GPLv3 too. If there's a solution to that problem though, I have no problems with switching to GPLv3 then.

[2019-11-03 11:37] JeremyRand commented on #2269
@0x6a73 AFAICT he's probably referencing this: https://www.gnu.org/licenses/gpl-faq.html#v3PatentRetaliation

Which, AFAICT, means that GPLv3 is actually better than GPLv2 if you oppose software patents.

[2019-11-03 11:43] ghost commented on #2269
@JeremyRand Oh, great. I'm for switching to GPLv3 then. However, how do we resolve the previously mentioned dead account issue then?

[2019-11-03 11:45] JeremyRand commented on #2269
@0x6a73 I mean, if I were you, I'd first try to contact the relevant contributors before spending too much effort on this.  There's a good chance that most of the contributors will be fine with a relicense and are reachable either via GitHub ping or via the email address in their Git commits' metadata.  Once you have a better knowledge of how much code would potentially have to be re-written in or

[2019-11-03 11:46] AlanDrake commented on #2269
If you can't relicense there's always the option of splitting the incompatible code into a standalone service which is used by the main application.

[2019-11-03 11:51] JeremyRand commented on #2269
@0x6a73  More specifically: A GitHub account may be dead, but the email address in the Git commit metadata may still be reachable.

[2019-11-03 12:03] antifa commented on #2265
I don't need any agreement from anybody to upgrade the license to a later version because I was who found that there are serious licensing issues in ZeroNet and I did so more than 4 years after that ZeroNet is released. I was required by law to upgrade the license! Period.

You in the other hand contributed nothing t ZeroNet and just spitting trash. You are a Polish nationalist trash who loves Hun

[2019-11-03 12:11] JeremyRand commented on #2269
For reference for anyone still wondering about patent issues in GPLv3:  (CC: @0x6a73 )

https://www.gnu.org/licenses/quick-guide-gplv3.html says:

https://www.gnu.org/licenses/rms-why-gplv3.html also says:

The tl;dr is that, indeed, the GPLv3 is better than GPLv2 if you oppose software patents.

[2019-11-03 12:37] 0x6a73 commented on #2265
@HelloZeroNet I believe it might be worth to time-lock this issue too

@antifa And here you're wrong. I haven't directly contributed to this repo, but I've helped with porting Zeronet and its underlying libraries (eg. coincurve) to OpenBSD.

[2019-11-03 13:01] antifa commented on #2268
@imachug I forked and downloaded ZeroNet source code while it was wrongfully licensed under GPLv2. I was become aware of the license issue and as required by law I upgraded the license. You can't ask me to remove your code because you did contributed to this software with that in mind that the software is open source. Nothing has been made proprietary and you can't claim proprietary rights over yo

[2019-11-03 13:15] 0x6a73 commented on #2268
Nope, a project without a license doesn't give you any rights. By default, all programs without a license are proprietary according to the copyright laws in the USA and EU. Only people who contributed can make their contributions open-source again, but they don't have to, they can make the code remain licenseless, therefore reserving a right for themselves for suing you for literally anything, eve

[2019-11-03 13:22] antifa commented on #2268
I'm not living in the European Union or in the United States of America. :rofl:  The software which previously licensed under GPL can not be made proprietary! If the software lost its license than it become a **public domain**! Which part do you don't understand?

[2019-11-03 13:28] filips123 commented on #2268
Where is this specified?

[2019-11-03 13:28] 0x6a73 commented on #2268
GPL states that software licensed with it cannot be made proprietary, but as you said, the license was revoked, rendering that statement not applicable to this project.

Also, we don't care about where you live. You may be able to do that in your country, but then you cannot export your software to either USA or EU. Also, Github is a part of Microsoft, is registered in the USA, so they'd be forced

[2019-11-03 13:29] 0x6a73 commented on #2268
Yea, give us the specific article stating that software without a license becomes public domain. And I'm not talking about "it becomes public domain after X years after author's death", but when it gets RELEASED without a license.

[2019-11-03 13:38] filips123 commented on #2268
AFAIK software licensed under GPL can be relicensed if all copyright holders agree but only for future releases. Old releases must still be using GPL.

But this (what I just said) is actually not important for this issue.

[2019-11-03 13:40] 0x6a73 commented on #2268
@filips123 Thanks, I oversimplified it a bit here just to make it clear why loosing a license doesn't mean getting released into the public domain

[2019-11-03 13:50] FrogCast commented on #2268
https://boards.4channel.org/g/thread/73404780/zeronet-is-ded-distributed-web-is-no-more-thanks
Thank you @antifa -- tech and kernel ended your os under real multi ended distribution servers.

[2019-11-03 14:04] antifa commented on #2268
Loosing a license in an open source software certainly makes the software public domain. Not making it proprietary. Not logical to think otherwise since many people including me received the software under GPL which forbids to revoke those permissions which the license grants.

[2019-11-03 14:10] antifa commented on #2268
You can use IPFS which licensed under MIT :rofl: The only thing ZeroNet can do is to upgrade the license from GPLv2 to GPLv3+ and all problem solved once and forever.

[2019-11-03 14:15] 0x6a73 commented on #2268
You stated an opinion on how to proceed with cancelled licenses. Give a legal document actually describing it instead of talking shit.

[2019-11-03 14:16] antifa commented on #2268
@0x6a73 the only one who talking :hankey: is you!

[2019-11-03 14:17] 0x6a73 commented on #2268
I'm still waiting.

[2019-11-03 14:21] antifa commented on #2268
@filips123 I added about 20 contributors to `CONTRIBUTORS.md`. Can you write a `CONTRIBUTORS.txt` I wish to see something better than the markdown file and a link to GitHub. I was used GitHub API also but that shows me only a limited number of contributors. Will be nice to have the full list of contributors listed in a file.

[2019-11-03 14:22] FrogCast commented on #2268
@antifa
You do have a point:
https://people.debian.org/~dktrkranz/legal/Understanding%20Open%20Source%20and%20Free%20Software%20Licensing.pdf
Please read, section 6 specifically paragraphs 17 and 19. I can't post them here due to copyright licensing restrictions.

[2019-11-03 14:23] antifa commented on #2268
@FrogCast Please copy-paste here. No links are clicked by me in Tor Browser :rofl:

[2019-11-03 14:28] FrogCast commented on #2268
@antifa
I am sorry, that would violate his copyright license. I can only provide a link, and reference material. Copying that specific legal opinion text there is a direct violation of the tort, CCH Canadian Ltd. v. Law Society of Upper Canada prelude to the the 9th circuit decision regarding citing extra-legal tenureship.
https://scc-csc.lexum.com/scc-csc/scc-csc/en/item/2125/index.do?site_prefer

[2019-11-03 14:29] antifa commented on #2268
@FrogCast What section 6? What is the page number?

[2019-11-03 14:30] FrogCast commented on #2268
@antifa See the table of contents.

[2019-11-03 14:31] antifa commented on #2268
:man_facepalming: Page number?

[2019-11-03 14:32] FrogCast commented on #2268
@antifa Page 2.

[2019-11-03 14:36] antifa commented on #2268
:man_facepalming:  Give me the page number where I can;

[2019-11-03 14:40] 0x6a73 commented on #2268
Thanks for sharing. I have to leave you for an hour or two. I'll catch up with you later.

[2019-11-03 14:41] 0x6a73 commented on #2268
It's in the table of contents.

[2019-11-03 14:45] antifa commented on #2268
<a href="http://www.youtube.com/watch?feature=player_embedded&v=9sJUDx7iEJw" target="_blank"><img src="http://img.youtube.com/vi/9sJUDx7iEJw/0.jpg" alt="Free Software Song" width="352" height="240" border="10" /></a>

[2019-11-03 14:46] 0x6a73 commented on #2268
Have you gone completely insane at this point?

[2019-11-03 14:50] FrogCast commented on #2268
@antifa
Reference page 185, sect 6 (c-e)

[2019-11-03 14:55] antifa commented on #2268
@FrogCast Okay, I don't see anything what you trying to reference. I'm not interested anymore. You give me a page number or not?

[2019-11-03 15:04] FrogCast commented on #2268
@antifa
Its on different pages, and the entire context starts on page 59 as per referenced in the table of contents and index. Glad I could help. Also I highly recommend reading this short legal opinion on the matter:
http://sro.sussex.ac.uk/id/eprint/46010/1/contract-licence_(3-18).pdf
While not a perfect exposition, given how murky common law outcomes have been in comparison to civil law on the

[2019-11-03 15:15] antifa commented on #2268
@FrogCast Thank you! :hugs:

[2019-11-03 15:24] imachug commented on #2265
@antifa copied my code to his repository. I've opened an issue asking to remove my code. I'm allowed to do that because:

- In case GPLv2 still applies to my code, changing the license without asking me is illegal;
- In case it doesn't apply, my code can be considered proprietary and thus I can ask anyone not to use it.

Unfortunately, @antifa didn't accept my kind offer. I'm mailing GitHub legal

[2019-11-03 15:26] antifa commented on #2268
"**So all that I do is bring an infringement action. It is the defendant’s responsibility to prove license and the only credible license for the defendant to plead is my license, because code is not otherwise available except under that license**." :rofl:

In ZeroNet's case the license is revoked automatically because it violated other licenses and copyright of various authors. So I still stand an

[2019-11-03 15:28] FrogCast commented on #2268
@antifa
On that point, see section 3.2

[2019-11-03 15:30] antifa commented on #2268
@FrogCast Thank you for sharing this with us! I do know how this works. No worry about that. :+1:

[2019-11-03 15:37] antifa commented on #2268
:two_hearts: https://github.com/HelloZeroNet/ZeroNet/issues/2269#issuecomment-549130428 :+1:

[2019-11-03 15:40] antifa commented on #2268
@JeremyRand I already talked about this! See: https://github.com/HelloZeroNet/ZeroNet/issues/2265

[2019-11-03 16:09] antifa commented on #2265
You can't claim proprietary right over the contributions you made in ZeroNet. :rofl:
You requested me to delete your contributions from the source code but you are so dumb you don't understand that other people also contributed to it any taking out your code will make ZeroNet unusable and effectively destroying the work of other people. You are not allowed to revoke the license permissions ever. W

[2019-11-03 16:16] Avamander commented on #2265
All software is proprietary unless explicitly stated otherwise in most countries.

In most countries copyright is irrevocable and non-transferable. If a group of authors of a software wish they can make all future versions of a software any license of their choosing. You violated the repository's GPLv2, by doing so you don't have any rights to the software.

Someone please lock this topic already.

[2019-11-03 16:19] antifa commented on #2265
@JeremyRand Look at this! @imachug try to claim proprietary right over his contributions!

For everyone else: This is exactly what GPLv3 will prevent! Even @shortcutme can't claim exclusive rights or register a patent and say fuck off everyone.. Urgently merge the pull request with the new license!

@Avamander Seems to me you are a 4 years old child who can't read or think as an adult. I do have r

[2019-11-03 16:21] Avamander commented on #2265
@antifa You lost the rights to the software when you violated the GPLv2 of the repository. From now on it defaults to terms specified by copyright holders.

[2019-11-03 16:22] antifa commented on #2265
:rofl: What are you talking about? **ZeroNet and every single contributor for years violated the copyright and licenses of other people!**

[2019-11-03 16:24] imachug commented on #2265
All these people can send us DMCA notice or something. However, those library maintainers have some common sense not to harm an open-source project that noticed that problem a few days ago.

[2019-11-03 16:25] imachug commented on #2265
@antifa My work is either GPLv2 or proprietary, depending on how license termination works. In both cases, you're not allowed to distribute my code under GPLv3.

[2019-11-03 16:26] antifa commented on #2265
WHAT? :rofl: :astonished: :laughing:

[2019-11-03 16:27] antifa commented on #2265
I don't need your permission you retard!

[2019-11-03 16:30] imachug commented on #2265
A software with invalid license is the same as a software without license, right?

[2019-11-03 16:32] filips123 commented on #2265
It is probably in interest of those maintainers that their libraries are used in open source projects.

[2019-11-03 16:33] Avamander commented on #2265
@antifa If hypothetically a software violates a license does not make the software's own license invalid. Not to mention, you can't enforce someone else's license.

[2019-11-03 16:33] Avamander commented on #2265
You have not been licensed the software under GPLv2 because you violated it, it literally says so in the license itself. Thus you do need every contributor's permission.

[2019-11-03 16:40] blazercrypter commented on #2268
<img width="455" alt="1572778260667" src="https://user-images.githubusercontent.com/57305009/68088585-f27b6780-fe60-11e9-8fc1-17ccd114bad0.png">

[2019-11-03 16:45] antifa commented on #2265
**I urge ZeroNet to merge my request urgently or this will backfire and the entire ZeroNet project going to the trash!**

[2019-11-03 16:47] imachug commented on #2265
Merging your PR would be illegal, sorry.

[2019-11-03 16:50] antifa commented on #2265
Illegal is what you and your motherfucker nazi fellows doing at ZeroNet violating other peoples copyrights and licenses and on the top of that you try to claim proprietary right over your code. This project is officially dead. Lost its license automatically and now trying to claim exclusive rights over some code. Let me be very clear. You use software which can't be embedded into your proprietary

[2019-11-03 16:53] filips123 commented on #2265
It isn't. You didn't use enough big font to say this.

@imachug wouldn't be doing this if you wouldn't be "trying" to fix all issues with relicensing to GPLv3 in your own way.

[2019-11-03 16:54] imachug commented on #2265
Ok... If you *really* think so, *both* merging your PR and not merging it is illegal. See, the code we all contributed is *not* public domain. A project with an invalid license is the same as a project without a license. A project without a license is considered proprietary. Even if I can't speak for *my* contributions, @HelloZeroNet's code is either proprietary or GPLv2 for sure, **not** public d

[2019-11-03 16:58] antifa commented on #2265
I'm not arguing with you anymore. You merge the pull request right now or I accelerate the distribution of the source code under GLPv3 and at the same time smashing ZeroNet into little piece like the Russian did with the Nazis in Hungary and elsewhere!

[2019-11-03 16:58] Chiiruno commented on #2265
@HelloZeroNet
This issue is very clearly no longer constructive in any sense, I would suggest locking it.

[2019-11-03 16:59] imachug commented on #2265
So you don't have any more arguments, even big text! Feel free to try smashing us then.

[2019-11-03 17:02] antifa commented on #2265
**@filips123 There is no other way! Go and remove all software which is not compatible with GPLv2 like Apache 2.0, remove all license which is terminated AGPLv3+, GPLv3 etc from ZeroNet source code and than go fuck yourself. You are all criminal copyright infringers who use other peoples work without even giving them credit or respecting they licenses! If you removed all the conflicting code from

[2019-11-03 17:03] imachug commented on #2265
Yay, awesome! That's what I'm working on right now.

[2019-11-03 17:04] antifa commented on #2265
I suggest to remove ZeroNet from GitHub because some people try to claim that is proprietary software.

[2019-11-03 17:05] imachug commented on #2265
@-@ If ZeroNet is proprietary, what the heck is it? Is it public domain?

[2019-11-03 17:05] antifa commented on #2265
That will not make me change the license! Be aware of that! I can keep distributing it under GPLv3 and there is nothing you can do to stop this!

[2019-11-03 17:06] antifa commented on #2265
**You made various attempts to claim proprietary rights in my repository and here in this issue as well!**

[2019-11-03 17:07] ghost commented on #2269
@JeremyRand Ok... so in antifa's issue, I disagreed about the whole patenting thing for GPLv3. However, I did not know about this (I don't think he ever quoted this while I was still looking at the issue - perhaps someone has after my last comment, when I stopped looking at that issue):

My main concern was about contributors patenting and suing other contributors or forks for their own contributi

[2019-11-03 17:09] imachug commented on #2265
Ok... so what is that?

[2019-11-03 17:11] Avamander commented on #2265
@imachug, the repository's license is not invalid, it's still GPLv2 for everyone except him and other license violators.

Also, by the way, IANAL but both I and Fossa (the license scan software many use and trust) think that with current distribution model only the GPLv3-only `pyelliptic` is violating any possible terms. Updating `pyelliptic` should be all that's required to fix any problems.

@an

[2019-11-03 17:14] xacrimon commented on #2265
Oh boy this is a horde of DMCA requests waiting to come. I would love for him to distribute this code under GPLv3 and be totally smashed by takedowns and account suspensions, which is exactly what is going to happen. I don't think his ISP will be fond of it either.

[2019-11-03 17:19] imachug commented on #2265
@Avamander There's some problem with dependencies actually. Whilst it's just pyelliptic that violates license in ZeroNet *code*, there are some Apache-licensed modules in requirements.txt.

[2019-11-03 17:20] Kixiron commented on #2265
To be perfectly honest, I think @antifa has shown that they don't know what they're talking about and are unwilling to do anything but argue until their demands are met. With that in mind, I'd recommend that @HelloZeroNet just close this and subsequent issues of the same nature that @antifa opens, as this is just a distraction and drama magnet that will not actually do anything.

[2019-11-03 17:24] antifa commented on #2265
ZeroNet violates other people licenses and copyrights and GPLv2 is not compatible with Apache as we discussed this already. I will not remove an part of the source code and so by law I'm required to distribute my repository under GPLv3+.

[2019-11-03 17:26] imachug commented on #2265
Again, why don't you do that? You are **not** allowed to distribute my code because it's either proprietary (in this case I don't allow it because I don't want to) or GPLv2 (which is incompatible with your GPLv3).

Again: if the law makes you use a license, it doesn't immediately make this *legal*.

[2019-11-03 17:26] DarkKirb commented on #2265
GPLv3 is also not compatible with apache either and since you won't remove any part of the source code you are required by law to delete all copies of zeronet from your systems

[2019-11-03 17:28] imachug commented on #2265
@DarkKirb It *is* compatible, see https://www.apache.org/licenses/GPL-compatibility.html .

[2019-11-03 17:29] antifa commented on #2265
@DarkKirb Yes it is! Gplv3 is compatible with Apache! I'm not required to delete my copy what I received under GPL. Nobody can revoke this rights! ZeroNet in the other hand lost its license and all copyright what they had. What ZeroNet did for years is criminal and now just adding more to the fire with that trying to claim proprietary rights while even GPLv2 forbids this!

[2019-11-03 17:29] Avamander commented on #2265
@imachug

In certain cases that could be a problem. There's a [nice thread about it](https://opensource.stackexchange.com/questions/1357/can-i-link-a-apache-2-0-library-into-software-under-gplv2) it hasn't really been tested out. Should be quite fine if not distributed together, Fossa thinks that as well, IANAL though.

@antifa

You may not relicense.

[2019-11-03 17:29] DarkKirb commented on #2265
Ah, i didn't know that, i thought license compatibility hasn't changed between v2 and v3

[2019-11-03 17:30] antifa commented on #2265
@DarkKirb There is a **HUGE** difference between GPLv2 and GPLv3!

[2019-11-03 17:31] Avamander commented on #2265
You violated the license, you get no rights granted by it.

[2019-11-03 17:32] antifa commented on #2265
I violated not a single license and I have all right to correct the mistakes ZeroNet made! I'm required to comply with the licenses the software includes!

[2019-11-03 17:34] imachug commented on #2265
You didn't receive that copy under GPLv3. You received either a proprietary or a GPLv2 copy.

Right. You have to comply with the license of my contributions. As there is no license, standard copyright takes place.

[2019-11-03 17:34] antifa commented on #2265
In the other hand the GPLv2 license of ZeroNet is **AUTOMATICALLY TERMINATED!** There are multiple evidences that even tried to bully me and claim exclusive right over the GPL licensed software!

[2019-11-03 17:34] Avamander commented on #2265
@antifa

You violated the repository's GPLv2. You have no rights to "correct" anything. It's literally copyright infringement for you to use the software in any way.

That's not how licenses work.

[2019-11-03 17:35] antifa commented on #2265
@Avamander **I suggest you go and read the full terms of the license!**

[2019-11-03 17:35] Avamander commented on #2265
@antifa

I did, and you've violated it.

[2019-11-03 17:39] antifa commented on #2265
Whatever you say man. **ZeroNet is made up by a bunch of criminal copyright infrigers who right in this moment also tries to claim proprietary rights and change the source code to make sure they don't need to upgrade to GPLv3**.

I warning again that I will not remove anything from the source code I received under GPL and so by law I'm required to insert a GPLv3 license with what I do comply with

[2019-11-03 17:41] Avamander commented on #2265
@antifa

It's proprietary by-default. Your rights fall back to that default because you violated the GPLv2.

By what law. You do know you're breaking the law as well when doing so?

I need to go make a new bucket of popcorn.

[2019-11-03 17:41] 0x6a73 commented on #2268
@antifa **Let's assume** that you're right in this case, that the entire ZeroNet project is now public domain due to GPLv2 violations. However, do you know what that means in this case? That's right, all versions prior to the next one are completely public domain and you can't do anything to change that. Also, that means that the ZeroNet contributors can **choose the next license, not just the GPL

[2019-11-03 17:42] antifa commented on #2265
This conversation is over and I take this to other places on the Internet to show how disgusting ZeroNet is.

[2019-11-03 17:44] ghost commented on #2269
I'll wait for @HelloZeroNet 's opinion on this matter. Also, if we choose to proceed with an alternative license, I'm ready to help create new, permissively licensed Python libraries/bindings for Bitcoin-related libraries, as I've worked in the past both with/on libsecp256k1 and some Bitcoin-related programs and libraries.

I'm not a fan of copyleft licenses (I prefer MIT/ISC/BSD licenses), but I

[2019-11-03 17:45] imachug commented on #2265
Can you close this issue then please?

[2019-11-03 17:45] antifa commented on #2265
@krixano you little piece of :hankey: ! You told to @JeremyRand that I did not quoted that? This issue is started with that article what @JeremyRand quoted! Open your eyes you retard!

[2019-11-03 17:46] xacrimon commented on #2265
A victory for humankind! Now if just the feds could remove you from the planet that would be fantastic @antifa

[2019-11-03 17:47] ghost commented on #2269
I personally think that copyleft is only good for *software* and not *libraries*. I was just talking with @filips123 about him thinking that parts of ZeroNet could be released as MIT. I agree with this if parts of ZeroNet could be libraries, in which case I mentioned to him that we could separate these out to other repos (like @imachug did with the bencode alternative he made).

[2019-11-03 17:51] antifa commented on #2265
I don't live in the USA and Feds can go to hell or eat some of the 8,000 nuclear warheads they own. Hopefully that 8,000 nuclear warhead will fall to USA and Israel the two fascist terrorist states! Fuck the Feds!

[2019-11-03 17:53] DarkKirb commented on #2265
didn't you just say that you are gonna leave this "discussion" now

[2019-11-03 17:53] Chiiruno commented on #2265
Politics is not relevant to Zeronet code or licensing.

[2019-11-03 17:54] antifa commented on #2265
:rofl: It is very relevant but @shortcutme not only a criminal copyright infringer but also a Hungarian Nazi who don't even think in the past 5 years to use ZeroNet and speak up against fascism in Europe and specially not in Hungary.

[2019-11-03 17:55] Kixiron commented on #2265
I think if everyone else stopped commenting, then @antifa would not have anything to fight against, so I propose we stop giving them attention

[2019-11-03 17:56] antifa commented on #2265
I like your avatar @Kixiron ! Do you like mine? :thinking: :rofl:

[2019-11-03 18:00] mikroskeem commented on #2265
Do not feed the troll, yes. :)

[2019-11-03 18:21] antifa commented on #2268
@krixano said;

**You can't do that!** I'm sorry to say, and I mean I really sorry but seems ZeroNet reached a dead end. Multiple attempts to restrict the source code, claim proprietary rights license abuse, copyright infringement FOR YEARS!

I did come and recommended the upgrade in good faith and some respectable contributor, namely @JeremyRand [said this](https://github.com/HelloZeroNet/ZeroNet

[2019-11-03 18:24] 0x6a73 commented on #2268
@antifa Fuck off already he's the author of that particular piece of software, so he can relicense it back and forth to whatever version he wants. Finally fucking decide whether you believe that the code CURRENTLY is in the public domain or proprietary.

### MORE FUCKING BOLD LETTERS WILL SURELY MAKE YOUR TEXTS MORE VALID

[2019-11-03 18:25] antifa commented on #2268
I make it bold to make sure my message reach your retarded brain..

[2019-11-03 18:26] antifa commented on #2268
# I going to sue @shortcutme if the license is changes to anything but GPL!

[2019-11-03 18:26] filips123 commented on #2268
@antifa Why the only possible option is to relicense ad GPLv3 and not as MIT? Explain please.

[2019-11-03 18:27] 0x6a73 commented on #2268
### THEN FUCKING SUE HIM ALREADY INSTEAD OF SHITTING AT EVERYTHING THAT ISN'T YOURS, AND REMEMBER TO SUE ME TOO, FUCKER

[2019-11-03 18:29] FrogCast commented on #2265
@antifa In pursuant to your legal matter, provide your full name and phone number, so you can immediately be contacted by legal resources as is required by law in accordance to your accusation upon the parties herein, id est:
_https://github.com/HelloZeroNet/ZeroNet_
ca. Nov 1 2019

[2019-11-03 18:29] filips123 commented on #2268
@0x6a73 [This](https://github.com/HelloZeroNet/ZeroNet/issues/2265#issuecomment-549162081) would be useful to do...

[2019-11-03 18:30] 0x6a73 commented on #2268
@filips123 Thanks, that's a great idea.

[2019-11-03 18:31] antifa commented on #2268
@filips123
GPL forbids to revoke my and other peoples rights who received ZeroNet under GPL! Read the any GPL license! You will see!

Let me quote from: https://stackoverflow.com/questions/5419923/can-gpl-be-re-licensed

[2019-11-03 18:32] filips123 commented on #2268
@antifa If you just said that GPL is terminated?

[2019-11-03 18:34] antifa commented on #2268
**Yes, but not in my repository!** I received under GPLv2 which was violated other licenses so the upgrade was inevitable! Nobody can revoke my rights which is granted under the GPL license to which you agreed before I notified ZeroNet that the GPLv2 license is terminated!

[2019-11-03 18:35] xddxd commented on #2268
Oh will you fuck off already? No one's caving in to your stupid demands. You CANNOT relicense this code unless every single fucking contributor agrees to it. Now go fucking back to china you commie shit.

[2019-11-03 18:37] antifa commented on #2268
@dldx You Nazi trash! Open your eyes! @JeremyRand and a few others do agree with me!

[2019-11-03 18:37] blazercrypter commented on #2268
Remember guys, one DMCA letter each for every fork.

[2019-11-03 18:44] antifa commented on #2265
My full name: ANTI-FASCIST
Phone number: +0.000.000.00
Address: Antarctica, Penguin st. 666.

[2019-11-03 18:45] HelloZeroNet commented on #2269
In my point of view a library is not part of the application, so there is no license issue, but I would support change the license to MIT, GPLv3 or any other similar license to make it more clear.

[2019-11-03 18:49] filips123 commented on #2269
@HelloZeroNet I would recommend to modularize ZeroNet a bit more (#2063). Then "one part" (but multiple libraries) would be internal ZeroNet libraries (licensed under MIT) and another part would be a program (licensed under GPL). This would also make ZeroNet mode embeddable (and hopefully more popular) as developers won't have to worry about all license issues.

[2019-11-03 18:49] ghost commented on #2269
@HelloZeroNet  @filips123 emailed FSF to see if that is true or not (whether Pypi packages' licenses need to be followed).

[2019-11-03 18:53] antifa commented on #2265
@HelloZeroNet also [supports to change the license](https://github.com/HelloZeroNet/ZeroNet/issues/2269#issuecomment-549166427) to GPLv3! :clap: :clap:
He still don't understand that can't change it to MIT!

[2019-11-03 18:58] 0x6a73 commented on #2265
@HelloZeroNet Hey, since this issue is slowly turning into a shitfest without any meritorical discussion whatsover, could you kindly close the issue too and leave further discussion of this problem for Krixano's thread? Thanks.

[2019-11-03 19:04] HelloZeroNet commented on #2269
Btw here is the list of the contributors by active code line number: https://gist.github.com/HelloZeroNet/8fe032e877fe9fe7395357debd2a904e

[2019-11-03 19:10] purplesyringa commented on #2269
Does that count displaced/replaced code or something like that?

[2019-11-03 19:11] filips123 commented on #2269
And contributors whose code was replaced/deleted?

[2019-11-03 20:06] purplesyringa commented on #2269
@shortcutme @HelloZeroNet I've made a simple license change utility. You can check it on test data [here](https://github.com/imachug/test/issues/1). Do you think we could use that for this repository?

[2019-11-03 20:54] ZeroNetTickBot opened #2271 "Contributor Agreement for License Change"
Hello to all previous ZeroNet contributors.

ZeroNet project has recently been informed of some license incompatibilities. Namely, we are using some Apache 2.0 and GPLv3 dependencies, whilst the current ZeroNet license is GPLv2. Thus, I would now ask the contributors to support GPLv3 switch.

A bot is listening on this thread. Please post exactly one of the following 8 comments:

- **GPLv3 and Apa

[2019-11-03 20:58] ghost commented on #2271
GPLv3-only and Apache

[2019-11-03 20:58] cclauss commented on #2271
Apache

[2019-11-03 20:59] ghost commented on #2269
Ok, I've started the bot on issue #2271 so that we can track who would accept a license change and what license they would accept.

[2019-11-03 21:00] ghost commented on #2271
GPLv3-only and Apache

[2019-11-03 21:03] antifa opened #2272 "Copyright and License: Information about the copyright notice and license location in ZeroNet source code."
https://github.com/HelloZeroNet/ZeroNet/issues/2271

You cant say GPLv3+ and Apache 2.0! **You are not licensing Apache!** You upgrading the license of ZeroNet!

[2019-11-03 21:07] caryoscelus commented on #2271
GPLv3+

[2019-11-03 21:09] filips123 commented on #2271
GPLv3 and Apache

[2019-11-03 21:09] antifa commented on #2272
I also note that this:

**is absolutely ruining ZeroNet!**

Why people who don't understand licenses trying to switch?

**YOU CAN'T INCLUDE GPL LICENSED SOFTWARE IN A SOFTWARE WHICH IS LICENSED UNDER APACHE!**

[2019-11-03 21:10] antifa commented on #2272
Say it than explicitly!

[2019-11-03 21:11] filips123 commented on #2272
It is said explicitly in the voting issue.

[2019-11-03 21:11] antifa commented on #2272
:confused:

[2019-11-03 21:12] antifa commented on #2272
Just upgrade the license to GPL-3.0-or-later!
Why you need to complicate it?

[2019-11-03 21:13] krixano commented on #2272
Because as clearly shown in the issue, not everyone wants GPLv3

[2019-11-03 21:15] antifa commented on #2272
Well, not everyone can get ice cream either! GPL-3.0-or-later is the most compatible license and if ZeroNet really cares about the future than the upgrade should be done soon as possible!

[2019-11-03 21:15] ghost commented on #2271
For people who want to know more about these licenses... I find http://tldrlegal.com to be a pretty decent resource.

[2019-11-03 21:16] krixano commented on #2272
But we have to get agreement from all contributors, don't we? You can't force people to switch to a license that they don't want to switch to.

[2019-11-03 21:18] antifa commented on #2272
You don't have too! There is no other option! You just wasting your time! You can't keep it under GPLv2 **and you can't change the license to any other license!**

[2019-11-03 21:21] ghost commented on #2271
**Polite** discussion about different licenses is also welcome here, just *make sure it's in a separate comment from one that you are voting in.*

You can also change your mind about your vote by posting a new vote which will overwrite your previous vote. Do **not** edit your original post (the bot cannot detect this)

[2019-11-03 21:23] caryoscelus commented on #2271
FWIW, relicensing to GPLv2+ would be enough. Effective license would be GPLv3, of course, but technically there's no necessity to limit usage of v2 if somebody needs it (and can get rid of incompatible deps, but that's their problem)

[2019-11-03 21:24] antifa commented on #2272
The pull request: https://github.com/HelloZeroNet/ZeroNet/pull/2270 have two files `COPYING` with the full text of GPLv3 and `LICENSE` where is the copyright notice and makes ZeroNet's license GPL-3.0-or-later!

Need to create more new files also because of the requirements. Having this, for example list of contributors on GitHub only is not enough specially if someone distributes a copy of ZeroNe

[2019-11-03 21:29] filips123 commented on #2271
Relicensing as GPLv3 and Apache-compatible would be needed in case we make ZeroNet more modularized (#2063) in the future. In this case, ZeroNet libraries (protocol handling and other more low-level things) would then be licensed as Apache-compatible license (MIT/BSD). Complete ZeroNet program would then be licensed as GPLv3.

This could help making ZeroNet more popular as developers would have al

[2019-11-03 21:31] filips123 commented on #2272
Can't you just link those GitHub things from README? Having so many files (and with duplicated content from GitHub website) makes no sense.

[2019-11-03 21:34] antifa commented on #2272
@filips123 No. See example: **GIMP** https://github.com/GNOME/gimp/blob/mainline/AUTHORS
(GIMP uses LGPLv3)

[2019-11-03 21:36] filips123 commented on #2272
GIMP's GitHub repository is just a mirror from another server. That's why it stores those things in files.

[2019-11-03 21:37] vitorio commented on #2271
GPLv3 and Apache

[2019-11-03 21:38] antifa commented on #2272
It is make sense! `LICENSE` is the **license** and `COPYING` is the full text of the GPLv3 license!

[2019-11-03 21:40] caryoscelus commented on #2271
Honestly, this is unnecessary confusion. If the poll is about switching to MIT or BSD licenses, it should be written as such, not "Apache". All of these are different albeit pretty compatible licenses, putting them under Apache umbrella doesn't seem to make much sense

[2019-11-03 21:41] antifa commented on #2272
README is not detected by GitHub as the source of the license!
See https://github.com/antifa/ZeroNet

[2019-11-03 21:41] 0x6a73 commented on #2272
@HelloZeroNet It looks like trolls are spamming the issue tracker again. It'd be great if you could help with that. Thanks.

@antifa Rewrite your first post, but slowly this time. Due to your broken english it's hard to understand what you mean.

[2019-11-03 21:42] ghost commented on #2271
The reason we did that is because we are using Apache-licensed dependencies. This is why we can only use "Apache-**compatible**" licenses. GPLv3 is *also* Apache-compatible (GPLv2 is not)

[2019-11-03 21:42] antifa commented on #2272
Delete your comment @0x6a73! You are not welcome here. We are talking about something and I have doubt you have any constructive comments.

[2019-11-03 21:42] mkg20001 commented on #2271
GPLv3+ and Apache

[2019-11-03 21:42] filips123 commented on #2272
Yes, as GitHub uses `LICENSE` file as source.

Basically, files should stay as they are currently, only `LICENSE` needs to be updated to contain new full license text and README needs to be updated to include license notice.

[2019-11-03 21:43] 0x6a73 commented on #2272
@antifa "Delete your comment"? I have a right to state any opinion here as long as it's legal according to the law in the USA.

[2019-11-03 21:45] 0x6a73 commented on #2272
Also, "wasting your time"? What do you mean? There is no such thing as specified amount of time since your "discovery" to when some unspecified very bad event happens.

[2019-11-03 21:45] antifa commented on #2272
@filips123 That would mean that you can license it only GPLv3 but **not** GPLv3-or-later! If need the later and it should be "or-later" than you must have this structure. README also should not contain copyright notice because is not its function!

[2019-11-03 21:46] filips123 commented on #2272
If you want "or-later", you specify this in README:

[2019-11-03 21:46] OliverCole commented on #2271
GPLv3 and Apache

[2019-11-03 21:46] 0x6a73 commented on #2272
Just because something isn't meant to be used that way doesn't mean it can't be.

[2019-11-03 21:48] filips123 commented on #2272
Also, most newer open source projects are using structure I specified. GIMP (and other projects) which still uses multi-file structure were made a long time ago when GitHub didn't have such features.

[2019-11-03 21:49] antifa commented on #2272
You can't @filips123! You need to have this:

[code]
This will be detected correctly by any scanner (https://github.com/filips123/scancode-toolkit) which scanning for copyright and licenses!

[2019-11-03 21:49] krixano commented on #2271
I'm going to edit the body of the issue really quickly to clarify about "Apache-Compatible". Please don't comment until I'm done.

[2019-11-03 21:50] 0x6a73 commented on #2272
@antifa Also, if you ever "doubt" something, then the best choice is to just check it out instead of straight up discarding it :)

[2019-11-03 21:51] krixano commented on #2271
Ok, I'm done editing the issue's main body text.

[2019-11-03 21:52] TundraFizz commented on #2272
Funny how somebody named @antifa is trying to make authoritarian decisions without wanting anybody else a say in it...

[2019-11-03 21:56] anoadragon453 commented on #2271
I leave my decision up to @shortcutme

[2019-11-03 21:57] antifa commented on #2272
In this case `LICENSE` will be detected as **GPL-3.0-or-later** and `COPYING` where the full unedited version of license is, will be detected as GPLv3.0.

![ZeroNet Copyright and License](https://i.imgur.com/xSnXJsj.png "ZeroNet Copyright and License")

[2019-11-03 22:03] ghost commented on #2271
@caryoscelus Ok, I edited the main post to clarify what you were talking about a little.

But, I'm gonna guess you probably want the ability for people to be able to specify which Apache-compatible license they want? We can add that option once @imachug is back on.

The thing is, are Apache, MIT, BSD, and ISC really that different to warrant this change?

[2019-11-03 22:11] filips123 commented on #2271
@anoadragon453 This can be considered as "any license" or "I don't care", right?

@krixano Bot currently does not support this. But can "GPLv3 and Apache" be also considered as this? If so, @anoadragon453 can update vote to this. If not, @imachug probably need to implement "Any license" option.

[2019-11-03 22:15] ghost commented on #2271
That's a good point @filips123 .

The difference is "any license" would include things incompatible with our current dependencies, while "GPLv3 and Apache" is saying you don't care as long as it's compatible with current ZeroNet deps that use Apache-2 license.

[2019-11-03 22:19] 0x6a73 commented on #2272
@antifa Thanks for taking a less aggressive stance in this issue (and changing that issue name, lol)

[2019-11-03 22:23] caryoscelus commented on #2271
Apache is different from MIT/BSD (and i'm guessing ISC is variation of the same idea) in that it has some sort of patent protection.

But no, i don't care as much to suggest someone should make a poll on that; i was merely talking about confusion this one is making. Besides arbitrarity of using "Apache" to represent what is often referred to as "lax licenses", lack of precision may be interpreted

[2019-11-03 22:24] antifa commented on #2272
Can someone post this image from here to: https://github.com/HelloZeroNet/ZeroNet/issues/2271?

![Open-Source License Compatibility Diagram](https://2015.igem.org/wiki/images/2/29/CamJIC-Practices-CompDiagram.png "Open-Source License Compatibility Diagram")
Source: Cambridge-JIC

[2019-11-03 22:29] ghost commented on #2271
@caryoscelus Is CC0 Apache-compatible? Can you *use* an apache dependency inside of a CC0 work? I wouldn't have thought that you can

Anyways, If this is the case, then maybe we should fix this stuff and redo the poll? I can try to quickly fix this.

[2019-11-03 22:38] antifa commented on #2272
It is clear most people don't understand https://github.com/HelloZeroNet/ZeroNet/issues/2271 that is why need some image there to show what is going on.

You can't say GPLv3+ and Apache! GPLv3 supporting Apache 2.0!

This is **nonsense**:

How many times I need to say can't change from GPL to something else!?

@krixano man, please correct yourself, you intentionally misleading all previous contrib

[2019-11-03 22:38] FrogCast commented on #2272
@antifa
What languages can you speak?
Your english is very broken and it is hard to ascertain exactly what you are trying to say.

[2019-11-03 22:41] antifa commented on #2272
I speak Spanish if needed, but GitHub is English unfortunately. `quit()`

[2019-11-03 22:43] #2271 closed, assigned to nobody

[2019-11-03 22:57] 0x6a73 commented on #2272
@antifa Let's settle this once and for all, answer simply to these two questions:
1. Do you consider ZeroNet's (and all of its versions) license revoked?
2. Does a project with a revoked license end up in public domain or becomes a proprietary software?

[2019-11-03 23:10] antifa commented on #2272
First of all,
I :heart: ZeroNet!

1, The license is automatically terminated and this not only means that GPLv2 but **all license which included in ZeroNet**,  for example AGPL-3.0-or-later and GPL-3.0 is also terminated automatically.

2, A previously GPL licensed software if the license is terminated, becomes a software in the **public domain**! It can't become proprietary since that would mean

[2019-11-03 23:23] ZeroNetTickBot opened #2273 "Contributor Agreement for License Change [Updated]"
Hello to all previous ZeroNet contributors.

ZeroNet project has recently been informed of some license incompatibilities. Namely, we are using some Apache 2.0 and GPLv3 dependencies, whilst the current ZeroNet license is GPLv2. Thus, I would now ask the contributors to support GPLv3 switch.

A bot is listening on this thread. Please post exactly one of the following 13 comments:

- **GPLv3 and La

[2019-11-03 23:25] ghost commented on #2273
GPLv3-only and Lax

[2019-11-03 23:27] ghost commented on #2271
Ok, everyone who voted here, please vote again in the new issue #2273

[2019-11-03 23:28] vitorio commented on #2273
GPLv3 and Lax

[2019-11-03 23:33] skwerlman commented on #2273
GPLv3+ and Lax

[2019-11-03 23:33] ghost commented on #2269
Ok, we had to redo the poll, so now everyone please vote on the new issue here: #2273

[2019-11-03 23:35] mkg20001 commented on #2273
GPLv3+ and Lax

[2019-11-03 23:39] antifa commented on #2272
@filips123 Is worth noting that if anyone modifies Zeronet source code while still compying with the GPLv3 license he/she/they eventually **can add themselves to the contributors file** what they received with the copy of the source code!

I do know that @HelloZeroNet (@shortcutme) has a practice of closing pull requests and don't gives credit to contributors but this is a limitation which can't b

[2019-11-03 23:39] ghost commented on #2273
Making sure the second-half of the list of contributors get properly mentioned:

@xfq @6543 @ajmeese7 @AceLewis @megfault @zasei @artemmolotov @Nephos @Austin-Williams @bencevans @valkheim @d14na @thesoftwarejedi @Derson5 @dldx @EdenSG @camponez @Erkan-Yilmaz @Fil @gyulaweber @shakna-israel @flibustier @justinwiley @kseistrup @MRoci @sexybiggetje @BoboTiG @medimatrix @Nodeswitch @Ornataweaver @adr

[2019-11-03 23:40] ghost commented on #2273
@rwv @sinkuu @zwgshr

[2019-11-03 23:47] namazso commented on #2272
@antifa yes they very well can change the license of the source code to a more relaxed GPLv3 compatible license. There is no outside GPL code included in ZeroNet code.  There are GPLv3 libraries used, but the code for those is not here. Licensing this code under -say - Apache2 would mean that the code here is under Apache2, and the released binaries would need to be relicensed to GPLv3 (which Apac

[2019-11-03 23:50] antifa commented on #2272
I kindly request to close: #2273
This voting is nonsense with this invented license combinations. I repeat again, that you **can't change the license from GPL** to LAX or any other license! **Is forbidden!**
Apply the license GPLv3+ and we can close all issues related to licensing.

[2019-11-03 23:52] antifa commented on #2272
@namazso An Apache licensed software **can't** include any GPL licensed code! As I said there is no way to change from GPL to something else!

[2019-11-03 23:59] namazso commented on #2272
@antifa Do you see any GPL'd code other than ZeroNet's in this repo?
I don't.
The builds indeed will because of the dependencies, which would indeed mean the builds themselves must be under GPLv3. Apache2 is also GPL compatible, therefore including ZeroNet's would-be-Apache2 code in the binaries, relicensed to GPLv3 would be ok too.

[2019-11-04 00:05] antifa commented on #2272
@namazso You misunderstand how GPLv3 and Apache 2.0 is compatible.

An **Apache 2.0** licensed software **can't** include **any GPL** licensed code! :stop_sign:
A **GPLv3** licensed software **can** include any **Apache 2.0** licensed code! :heavy_check_mark:

ZeroNet **can't** change **from GPL to any other license**! :stop_sign:

@namazso : Yes there is various code from third parties in ZeroNet

[2019-11-04 00:11] antifa commented on #2272
You said;

**There is no such thing as you are not allowed to distribute in GPL!** In GPLv3 you can even have a patent which includes ZeroNet!

[2019-11-04 00:13] namazso commented on #2272
Shouldn't have said `repo`. Indeed the license might need some clarification about how it doesn't apply to all the stuff that has their independent license.

However, you seriously misunderstood what "including" means. Until "linked" together, the code of ZeroNet, or any libraries for that matter are completely independent works. Sure, they can't *work* independently, but they can be distributed i

[2019-11-04 00:15] kseistrup commented on #2273
GPLv3+ and Lax

[2019-11-04 00:15] namazso commented on #2272
As for your last comment, I'm wondering if you have a hard time understanding English.

[2019-11-04 00:20] antifa opened #2274 "You CAN'T switch from GPL to any other license! The voting should be about GPLv3 or GPLv3+ not about nonsense!"
I see the new voting in https://github.com/HelloZeroNet/ZeroNet/issues/2273
Lax/Permissive license this is NOT POSSIBLE! Don't even vote about it!

**And I also request to allow me to vote!**
I also contributed to ZeroNet but @shortcutme given no credit whatsoever!

[2019-11-04 00:26] antifa commented on #2272
I udnerstand you but you don't understand the licenses. You can't just relicense from GPL to Apache! It is forbidden! You can't link together Apache 2.0 and GPLv2! Forget that.

**http://gplv3.fsf.org/wiki/index.php/Compatible_licenses**

[2019-11-04 00:28] camponez commented on #2273
GPLv3+ and Lax

[2019-11-04 00:35] namazso commented on #2272
@antifa i suggest that you familiarize yourself with the text of the GPLv2 license, available here: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
I recommend reading this part specifically:

This means, you can modify it however you want, you only need to comply with the listed terms below it when you distribute the work based on the original work.

[2019-11-04 00:39] namazso commented on #2272
Also, I imagine Stallman crawling into your bedroom to check that you surely haven't linked together GPLv2 and Apache2 libraries for private use. Nonsense.

[2019-11-04 00:40] antifa commented on #2272
I do understand everything written there trust me.

There is no such thing as abandoning GPL and switching to other license at will!
There are more than **1,900 fork** of ZeroNet and this would create a lot of legal problems not to mention compatibility.

[2019-11-04 00:41] antifa commented on #2272
Since when ZeroNet is for private use only? :thinking:

[2019-11-04 00:42] ysc3839 commented on #2273
GPLv3+

[2019-11-04 00:49] namazso commented on #2272
My proposed solution for this mess would be clarifying which works in the repo are licensed under which license, abandoning all binary distributions, and developing a program that helps users download and compile / link the works needed for ZeroNet to function into a binary. This way we can avoid any license change.

In the very unlikely case that you suggest that linking together GPLv2 and Apache

[2019-11-04 00:51] namazso commented on #2272
you said that you aren't allowed to link together Apache2 and GPLv2, as opposed to me saying that you just can't distribute the result. Me linking things together on my machine and not distributing the result is private use as far as I'm aware.

[2019-11-04 00:56] antifa commented on #2272
We are not discussing your private use of the software. You are free to do whatever you like for your private use. You however can't upload it to nowhere and can't distribute it either.

[2019-11-04 00:57] d14na commented on #2269
i see ya'll got together and decided to re-license this whole thing? where have i been?

__+1 for MIT (if at all possible)__

[2019-11-04 00:58] antifa commented on #2272
@namazso

Seriously? :rofl: I will not fork anything from you ever! :rofl:

[2019-11-04 00:59] ghost commented on #2269
@d14na You can vote for a license on issue #2273

[2019-11-04 01:03] d14na commented on #2273
GPLv3+ and Lax

[2019-11-04 01:03] ghost commented on #2273
Just some useful information for people:

https://en.wikipedia.org/wiki/Software_relicensing

[2019-11-04 01:05] ghost commented on #2273
Additionally, if you want to find out more about different licenses, http://tldrlegal.com seems to be a decent resource.

[2019-11-04 01:06] probonopd commented on #2273
GPLv3+ and Lax

[2019-11-04 01:07] antifa commented on #2274
You don't understand do you? **You can't switch the GPL license to anything else!**
You either keep GPLv2 and get rid of many things, or upgrade to GPLv3+ and everything is fine!

[2019-11-04 01:11] d14na commented on #2269
@krixano __voted!__ i like what i see ya'll doing here lol

__question:__ what sort of "libraries" would fall under LAX? i'm ready to push some code after the dust settles

[2019-11-04 01:13] ghost commented on #2269
MIT, GPL, and Apache are the 3 most used licenses on github I believe. BSD is also probably up there.

[2019-11-04 01:26] mknepper commented on #2272
@antifa

Can you state in one or two sentences, succinctly and clearly, what you want changed?

[2019-11-04 01:56] sirMackk commented on #2273
GPLv3+

[2019-11-04 02:27] OliverCole commented on #2273
GPLv3 and Lax

[2019-11-04 02:40] namazso commented on #2272
you sure have shown me

[2019-11-04 02:47] eduardoaddad commented on #2273
GPLv3+

[2019-11-04 03:08] xfq commented on #2273
GPLv3+ and Lax

[2019-11-04 03:21] cclauss commented on #2273
Fewer choices was far better for achieving consensus.

[2019-11-04 03:26] ghost commented on #2273
Maybe.. but we shouldn't be dictating completely what people can choose from, because they have to choose it for themselves (legally). Also, I didn't really add that many more choices.

Basically, what I'm saying is if people naturally fall into a consensus regarding what they actutally want, then more choices doesn't matter. But if we are getting a consensus with less options but not a consensus

[2019-11-04 04:31] 6543 commented on #2273
GPLv3+ and Lax

[2019-11-04 04:36] ghost commented on #2273
Btw, **polite** discussion on licenses are welcome and you can change your vote at any time by posting another comment.

[2019-11-04 04:38] antifa commented on #2272
@namazso I don't want to show you nothing. :1st_place_medal:

[2019-11-04 04:38] antifa commented on #2272
@mknepper who said I want to change anything?

[2019-11-04 04:52] purplesyringa commented on #2273
GPLv3 and Lax

[2019-11-04 04:59] purplesyringa commented on #2273
@sirMackk @ysc3839 @mkg20001 @xfq @6543 @d14na @camponez @kseistrup @eduaddad @probonopd @skwerlman

I have just noticed that you voted for GPLv3+ . I want to make sure that the GPL options were clear enough, so let me explain it again:

- GPLv3-only allows us to license the project under the standard GPLv3 license
- GPLv3+ allows us to license the project under "GPLv3 or later" but not the standa

[2019-11-04 05:11] imachug commented on #2274
Please show me a point in GPL license that says that changing license to non-GPL is not allowed.

[2019-11-04 05:16] imachug commented on #2272
As we have #2274 now, can this issue be closed? @antifa I don't want to pollute our issue tracker.

[2019-11-04 05:17] purplesyringa commented on #2269
@HelloZeroNet Can you close the locked issues (#2265 #2268 #2270)? The issue tracker is polluted with license issues now.

[2019-11-04 05:52] filips123 commented on #2273
GPLv3 and Lax

[2019-11-04 06:09] antifa opened #2276 "VOTING: I Will Not Follow the License if less than GPLv3+!"
I warning everyone that I was who reported that various licenses in ZeroNet are terminated. For years nobody ever even think about it.
I did upgraded the license to GPL-3.0-or-later in my repository and I will not change the license to any less than this.
The voting is a joke and I as a contributor and the one who reported that ZeroNet violated various licenses and that is even incompatible with s

[2019-11-04 06:21] imachug commented on #2276
You haven't contributed a single line to ZeroNet afaik. Please show the stolen lines already!

Not really. As you see, most people have voted for GPLv3 so far. I guess that's what we'll have to use.

Nope, they should vote for GPLv3 without plus. This will allow us to choose whether only GPLv3 is applied or later versions count too.

Are you fine with a terminated (sic) license? Okay.

[2019-11-04 06:21] imachug commented on #2276
By the way, I'm not against including my changes to ZeroNet. I'm against including my code into your project under GPLv3+ license without asking me first.

[2019-11-04 06:23] purplesyringa commented on #2273
GPLv3-only and Lax

[2019-11-04 06:24] antifa commented on #2276
I did not need to ask you because you was one who violated other peoples copyrights and licenses for years and this you never in your life can change it!

[2019-11-04 06:24] filips123 commented on #2273
Relicensing as GPLv3 and Lax would be needed in case we make ZeroNet more modularized (#2063) in the future. In this case, ZeroNet libraries (protocol handling and other more low-level things) would then be licensed as Lax license (MIT/BSD). Complete ZeroNet program would then be licensed as GPLv3.

This could help making ZeroNet more popular as developers would have already-created modular librar

[2019-11-04 06:32] antifa commented on #2276
The voting is shady trash wrote by you and some another idiot. I will not follow any result considering the previous conversations in other issues. Everyone publicly can read your opinions there. You tried to revoke rights granted by GPL even after that I notified ZeroNet about serious licensing issues. Now trying to use shaddy voting which is not even mention a single reference to those conversat

[2019-11-04 06:38] antifa commented on #2276
ZeroNet is going to be on GPLv3+! **I refuse to comply with anything less than GPLv3+!** I already fixed the license in my repository and since **that is the only repository with the license which complies with all other licenses** and compatible with others, I request to merge my pull request to make ZeroNet GPLv3+ in this repository as well.

[2019-11-04 06:46] imachug commented on #2276
Again: an invalid license doesn't make the whole project public domain! If you think so, just show me a line in some international law or GPL that states this.

[2019-11-04 06:47] imachug commented on #2276
My code was licensed under GPLv2. You can't use it in a GPLv3+ project! GPLv2 doesn't allow you to do that.

[2019-11-04 06:47] goofy-mdn commented on #2273
Lax

[2019-11-04 06:48] imachug commented on #2276
No you didn't. You include my code that is GPLv2 and is thus incompatible with GPLv3+.

[2019-11-04 06:50] purplesyringa commented on #2273
@goofy-mdn Just to make sure: choosing Lax means that we'll have to rewrite all libraries and make others support Lax as well, or remove your contributions. Are you fine with that?

[2019-11-04 06:50] antifa commented on #2276
You can't even use GPLv2 on ZeroNet legally! What are you talking about? 3 different licenses you violated for years!

[2019-11-04 06:56] ghost commented on #2273
Lax

[2019-11-04 06:56] catthehacker commented on #2273
Lax

[2019-11-04 06:59] purplesyringa commented on #2273
Are you all sure guys?

[2019-11-04 07:07] ghost commented on #2273
GPLv3-only and Lax

[2019-11-04 07:10] 0x6a73 commented on #2276
@HelloZeroNet I'm sorry that I have to ping you again, but it seems like trollls are opening threads on issues we've already solved or we're solving in an another issue. Thanks.

[2019-11-04 07:12] cclauss commented on #2273
Apache

[2019-11-04 07:13] cclauss commented on #2273
Apache2

[2019-11-04 07:14] 0x6a73 commented on #2276
@antifa As you've stated, the code is now in the public domain, which means that anyone can do whatever they want with it. Including creating a version of that code that's proprietary or non-GPL.

[2019-11-04 07:19] antifa commented on #2276
I opening the thread because I'm not able to vote or discuss elsewhere. The big anti-censors censoring me, my contributions etc. **The voting is a big trash!** Look at the wording of NON-EXISTENT LICENSES AND LICENSE COMBINATIONS!

They invented new licenses fast to confuse people!

[2019-11-04 07:20] Fil commented on #2273
whatever the project decides is fine with me

[2019-11-04 07:21] 0x6a73 commented on #2276
You're not able to discuss elsewhere because you're not discussing and not accepting the facts, what you're doing here is, as stated previously, constantly repeating the same thing. You didn't even answer my previous post and you're doing the thing that post was **exactly** addressing.

[2019-11-04 07:29] antifa commented on #2276
I'm sorry @0x6a73 I'm not against anybody here.

But please look at this:

GPLv3 and Lax if you accept switching to either GPLv3 or later or to **GPLv3-only** or a Lax/Permissive license
GPLv3+ and Lax if you accept switching to either GPLv3 or later or a Lax/Permissive license
GPLv3-only and Lax if you accept switching to either GPLv3-only or a Lax/Permissive license
GPLv3+ if you accept switchin

[2019-11-04 07:33] 0x6a73 commented on #2276
Great. So you accept a legal possibility of Zeronet's code changing a license to something else than GPLv3+?

[2019-11-04 07:39] antifa commented on #2276
NO! I was who found the issue with the license and I fixed it accordingly, there is no need for voting and any result is unacceptable from such a fraud attempt to restrict the use of ZeroNet!

**The voting is unethical and immoral because misleading those who had contributed to ZeroNet previously!**

[2019-11-04 07:44] 0x6a73 commented on #2276
Fuck off then. You still didn't answer that question.

[2019-11-04 07:44] 0x6a73 commented on #2276
As you've stated, the code is now in the public domain, which means that anyone can do whatever they want with it. Including creating a version of that code that's proprietary or non-GPL, right?

[2019-11-04 07:49] antifa commented on #2276
Choose your words you maniac! You spamming every single issue and pull request which exist here because you are a Polish neo-Nazi. Go and :gun: yourself.

[2019-11-04 07:52] antifa commented on #2274
@imachug I suggest to abandon the voting! You are a manipulative trash!
https://github.com/HelloZeroNet/ZeroNet/issues/2276#issuecomment-549246045

[2019-11-04 07:53] 0x6a73 commented on #2276
Whatever. Are you going to answer it or not?

[2019-11-04 07:54] antifa commented on #2276
I answer only to Allah!

[2019-11-04 07:56] 0x6a73 commented on #2276
Wtf

[2019-11-04 07:59] xddxd commented on #2276
It all makes sense now lol

[2019-11-04 08:02] antifa commented on #2276
I said it right. You are a Polish neo-Nazi trash!

[2019-11-04 08:05] 0x6a73 commented on #2276
@HelloZeroNet I think it's the right timeif you're able to do so) to ban @antifa from participating in these discussions altogether, since all he wants to do is to start flame wars, name people neo-nazis and say stuff completely irrelevant to these issues.

[2019-11-04 08:06] antifa commented on #2276
@0x6a73 You are the only one who keep posting off-topic! I can show you about 50 of your comments!

[2019-11-04 08:09] 0x6a73 commented on #2276
Judging by how you were previously banned and your threads were locked, I don't think so. Also, telling someone "kill yourself" is a yet again illegal - encouraging suicides/violence.

[2019-11-04 08:09] slrslr opened #2277 "Wrong handling of a zite downloading - missing index.html error even it is not missing"
### Step 1: Please describe your environment

  * ZeroNet version: 4253
  * Operating system: Win
  * Web browser: FF beta

### Step 2: Describe the problem:

For a few seconds (?) the zeronet shows an error that the index.html is missing upon loading site http://127.0.0.1:43110/17aqJNrBjH63D5kgjLLfFi3FZVtW74JDxS/ for the first time. But after a while, index is downloaded automaticaly and the erro

[2019-11-04 08:10] antifa commented on #2276
I was a suggestion so is not illegal! :see_no_evil: :rofl:

[2019-11-04 08:14] 0x6a73 commented on #2276
A suggestion means encouraging too. Whatever, I've already reported you to the Github Legal Team.

I'd like to remind you that Github is legally obligated to keep your data for the next 30 days for investigation purposes, so there'd be no problem if I reported you to the police just citing your current and your banned accounts.

I've taken screenshots of your posts just in case you delete them, bu

[2019-11-04 08:16] antifa commented on #2276
I wish to make an emoji which shows me making a big :hankey: pile on top of your head!
(take a screenshot fast!)

[2019-11-04 08:17] 0x6a73 commented on #2276
I don't care. I will stop replying to this thread until @HelloZeroNet undertakes any action regarding it.

[2019-11-04 08:20] antifa commented on #2276
Wow, I'm so scared! Please censor me! ZeroNet please censor me! No more free speech, no more anti-censorship come @shortcutme and ban me attack me come. Ohh yeah, the real face of zeroNet... Running by one person a a bunch of Nazi bots.

[2019-11-04 08:20] SuperSandro2000 commented on #2273
GPLv3+ and Lax

[2019-11-04 08:38] rcmorano commented on #2273
+1

[2019-11-04 09:16] #2268 closed

[2019-11-04 09:16] #2265 closed

[2019-11-04 09:17] #2274 closed

[2019-11-04 09:17] #2272 closed

[2019-11-04 09:18] reezer commented on #2273
GPLv3 and Lax

[2019-11-04 09:22] martijndeb commented on #2273
GPLv3+ and Lax

[2019-11-04 09:22] BoboTiG commented on #2273
Choose what is best for you, I really have no issue with that ;)

[2019-11-04 09:34] Thunder33345 commented on #2273
Lax

[2019-11-04 09:47] caryoscelus commented on #2273
GPLv3+

[2019-11-04 09:52] caryoscelus commented on #2273
Here's another thought: whoever is licensing their work under lax licenses (i'm really just skipping through possible legal implications of formulating it like that, but oh well) gives anyone ability to license whole work under GPL (v3 in case of apache), **however** that would require some work on proper licensing every bit (if anyone cares, that is). In a similar vein, licensing a piece of code

[2019-11-04 09:56] camponez commented on #2273
I'm not sure why that needed explanation.... but my vote is the same.

[2019-11-04 10:59] krzysztof113 commented on #2269
You all fell for a troll. There are hundreds of p2p systems and applications and chances that Zeronet licensing will be anyhow important is very low. There are many caveats in licensing and copyright laws and you are wasting your effort on dealing with unimportant things. Now you will have to watch for every commit and library included.
There's even a slim chance that antifa is assigned to disrupt

[2019-11-04 11:20] AceLewis commented on #2273
I only did 1 trivial commit so I don't think I should have a say. I am just commenting so you can cross me off.

[2019-11-04 11:26] megfault commented on #2273
GPLv3 and Lax

[2019-11-04 11:31] MRoci commented on #2273
+1

[2019-11-04 12:30] kseistrup commented on #2273
GPLv3+

[2019-11-04 12:35] danielquinn commented on #2273
GPLv3+

[2019-11-04 12:39] Idealcoder commented on #2273
GPLv3+

[2019-11-04 13:23] antifa opened #2279 "Tamas Kocsis @HelloZeroNet is a piece of shit!"
@HelloZeroNet has closed the pull request where I shipped the new **GPLv3+**! https://github.com/HelloZeroNet/ZeroNet/pull/2270

He also closed this issues which have more than 100+ comments regarding the `LICENSE`: https://github.com/HelloZeroNet/ZeroNet/issues/2265, https://github.com/HelloZeroNet/ZeroNet/issues/2268

I reported the repository to GitHub for various license violations and illegal

[2019-11-04 13:30] mknepper commented on #2279
You said you didn't see anything that needed change, which means there is no issue. Therefore, complaint and issue closed.

[2019-11-04 13:42] antifa commented on #2277
I agree with you, this is a big problem. ZeroNet should not display this message when there is an index.html file.

ZeroNet is slower than IPFS regarding this. I also seen the issue you describing.

[2019-11-04 13:47] mknepper commented on #2279
I could be blind, but can you show me where you contributed to HelloZeroNet's repository? I just see your fork and not the main repo.

[2019-11-04 13:52] antifa commented on #2279
My contributions:
- https://github.com/HelloZeroNet/ZeroNet/commit/e1f73697ff7cabd55db4e63b6b77099222f1cb4c
- https://github.com/HelloZeroNet/ZeroNet/commit/cb4a4bd7076fbfe760bc88c46d90157c1a19cebf
- https://github.com/HelloZeroNet/ZeroNet/commit/24ba2a150b84ecc8c8525c5c7657738cd843add6
- https://github.com/HelloZeroNet/ZeroNet/commit/e1d92bf0ecb0da3272ee59bb886e623ebc69744d

[2019-11-04 13:55] mknepper commented on #2279
These are contributed by another user. Do you have an alternate account? If so, you could make that known.

[2019-11-04 13:57] antifa commented on #2279
I do have many GitHub accounts to be honest with you. Even an organization.

[2019-11-04 14:00] mknepper commented on #2279
So @shortcutme is your account?

[2019-11-04 14:02] FenzaFenz commented on #2279
Are you claiming to be a creator of Zeronet?
[d28e1cb4a6d3193a39431c316244e7bbd641a883](https://github.com/HelloZeroNet/ZeroNet/commit/d28e1cb4a6d3193a39431c316244e7bbd641a883)

[2019-11-04 14:05] antifa commented on #2279
No. He claims my contributions in ZeroNet which I listed for you above! He is clearly not the originator.

Now who running the voting about the license namely @krixano and @imachug tries to discredit me but I was who fixed they issues regarding font loading and other things which was for years was problem! https://github.com/HelloZeroNet/ZeroNet/issues/2249

No @FenzaFenz I don't. Please read the

[2019-11-04 14:06] mknepper commented on #2279
@antifa Can you show us proof that those contributions were stolen from you? Perhaps an archived website we can cross-reference and verify?

[2019-11-04 14:07] antifa commented on #2279
search for recent ghost pull requests!

[2019-11-04 14:10] mknepper commented on #2279
Can you directly link us? That way we know we're not missing it. I'd like to see exactly what you're seeing. I can't help otherwise.

[2019-11-04 14:12] blazercrypter commented on #2279
https://boards.4channel.org/g/thread/73426454#p73426613

[2019-11-04 14:13] antifa commented on #2279
@mknepper

[2019-11-04 14:15] mknepper commented on #2279
So that was your account?

[2019-11-04 14:21] antifa commented on #2279
@mknepper Was. Yes. @imachug  @krixano and @shortcutme immediately after the pull request attacked my account.
When I got back to GitHub, he Tamas Kocsis merged in his own name my commits. I even asked to give me credit but nothing.

Later I was finding that the whole software is distributed illegally on GitHub **violating other peoples licenses and copyrights for years**.

[2019-11-04 14:28] 0x6a73 commented on #2279
@antifa I'd like to remind you that creating new accounts after being banned from Github is a yet another violation of its terms. Also, @HelloZeroNet I think you can just block @antifa on his profile and as far as I know it makes him unable to post in any of your repos. Can someone confirm this?

[2019-11-04 14:29] 0x6a73 commented on #2279
BTW, can the guy from the 4chan thread stop impersonating me? I'm actively watching it. Thanks.

[2019-11-04 14:29] anoadragon453 commented on #2273
Whatever @HelloZeroNet wants.

[2019-11-04 14:35] antifa commented on #2279
@0x6a73 is not your day again :sob: :rofl:

[2019-11-04 14:37] 0x6a73 commented on #2279
@antifa Wdym? Most probably your issue will be closed again.

Also, since you didn't answer it:
As you've stated, the code is now in the public domain, which means that anyone can do whatever they want with it. Including creating a version of that code that's proprietary or non-GPL, right?

[2019-11-04 14:39] krixano commented on #2279
Just so everyone is aware, GitHub is currently looking into report requests from me on all of his accounts due to his harassment of multiple people on here. Hacktivist would be his other name, and he created around 4 accounts. Additionally, he deleted most of his comments after trying to implement a change in ZeroNet that would overall be bad. However, I have pictures of most things he said, if an

[2019-11-04 14:42] 0x6a73 commented on #2279
@krixano Thanks for archiving these. I didn't know that he deleted these comments.

[2019-11-04 14:43] blazercrypter commented on #2279
![Screenshot_2019-11-03 Proposed changes in ZeroNet · Issue #2268 · HelloZeroNet ZeroNet](https://user-images.githubusercontent.com/57305009/68129414-ce2f9180-ff19-11e9-9863-e0bc4346cc2d.png)

[2019-11-04 14:44] antifa commented on #2279
:rofl: Look deep into it! You will find many Tor exit!

You are a rotten trash @krixano and you should be ashamed of you shitty shady and misleading voting.

You found nothing. You fixed nothing. For that matter I was who fixed the issue in your latest issue you opened in ZeroNet regarding the fonts in Tor Browser.

I archived everything in the Internet Archive! Just be clear on that!

[2019-11-04 14:44] blazercrypter commented on #2279
![1572864273950](https://user-images.githubusercontent.com/57305009/68129509-fcad6c80-ff19-11e9-8fbd-b926e8a33532.png)

[2019-11-04 14:46] antifa commented on #2279
Stop the screenshots! You can archive pages with **Internet Archive** like this:

https://web.archive.org/save/https://github.com/HelloZeroNet/ZeroNet/issues/2279

[2019-11-04 14:46] krixano commented on #2279
Just so you know @antifa , from the point ZeroNet's license was invalid, the software had no license and is considered proprietary.

[2019-11-04 14:47] 0x6a73 commented on #2279
Rory, Nov 4, 8:43 AM UTC

Hello,
Here's an official email from the Github Support Team regarding the first report, that only included info about him breaking the copyright. Three more regarding further issues (such as inciting violence, suicide, threatening, personal attack, racism etc.) are remaining.

Response 1:

[2019-11-04 14:50] antifa commented on #2279
:rofl: Come send me one DMCA! I want to know your name and full address. :rofl: Also if you send me DMCA you would need to send to another about 2,000 people the same! You are a joke, bro!

[2019-11-04 14:52] 0x6a73 commented on #2279
@antifa Also, are you going to finally answer my question or not?

[2019-11-04 14:52] blazercrypter commented on #2279
![1572784738685](https://user-images.githubusercontent.com/57305009/68130095-0edbda80-ff1b-11e9-9c57-3e1ed813d182.png)
![1572783585772](https://user-images.githubusercontent.com/57305009/68130106-113e3480-ff1b-11e9-8a64-f04bbdfd3b47.png)
![1572732177708](https://user-images.githubusercontent.com/57305009/68130115-17341580-ff1b-11e9-926b-6f3009a4c267.png)

[2019-11-04 14:53] 0x6a73 commented on #2279
@blazercrypter Thanks man, you're amazing.

[2019-11-04 14:53] antifa commented on #2279
Also since ZeroNet is not owned by nobody, there should be a voting about the DMCA! :rofl:

[2019-11-04 14:55] 0x6a73 commented on #2279
@antifa We've already presented you arguments why your thinking is invalid and you didn't address them. Learn to read. Also, the voting is here just because the project owner thought that the contributors should decide on it. Normally, @HelloZeroNet could just declare that "I wanna use WTFPL license" and nothing could stop it from doing so if the project is in public domain.

TL;DR: not your proje

[2019-11-04 14:58] antifa commented on #2279
I considering you mom in the open source, so I can put something in it right? Since when Open Source becomes proprietary? If so than why you molesting me and not other about 2,000 people?

I tell you! Because you are a Hungarian-Polish neo-Nazi trash! Everyone knows that Hungary is full of fascists shitheads just like Poland. ZeroNet is going to be on GPLv3+ or this project can be buried right now

[2019-11-04 14:59] 0x6a73 commented on #2279
@antifa Then bury it yourself. We're all waiting or it - that is either a lawsuit from you or something else ;)

[2019-11-04 15:01] blazercrypter commented on #2279
Who's the racist here again?

[2019-11-04 15:03] antifa commented on #2279
I'm **anti-fascist** you maniac!

[2019-11-04 15:03] 0x6a73 commented on #2279
@blazercrypter Yep, a guy claiming to represent an "antifascist" organization being fascist. How ironic.

[2019-11-04 15:04] 0x6a73 commented on #2279
@antifa North Korea's official name is **Democratic** People's Republic of Korea, but it doesn't make it any more democratic, does it? ;)

[2019-11-04 15:06] antifa opened #2280 "500 Namecoin"
For 500 Namecoin I transfer the domain **ZeroNet.website** and **ZeroNet.host** to anyone who pay this price.

[2019-11-04 15:09] antifa commented on #2279
It is more democratic the the fascist south! The United States also call itself democracy but it really a terrorist  and extreme fascists state like Israel where "Zionists" shooting children in the head nearly every day.

[2019-11-04 15:10] #2280 closed

[2019-11-04 15:13] #2279 closed

[2019-11-04 15:19] beigexperience commented on #2273
GPLv3 and Lax